<div class="container mt-5">
  <div class="row">
    <button
      type="button"
      class="btn btn-primary btn-create mb-5"
      data-toggle="modal"
      data-target="#createPath"
    >
      Create Learning Path
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-hover table-bordered">
        <thead class="bg-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Classes</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let path of learningPaths; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ path.title }}</td>
              <td>
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#viewClass"
                  (click)="setLearningPath(path); getClasses()"
                  ><i class="material-icons fa-lg">visibility</i></a
                >
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="buttons">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#editPath"
                      (click)="setLearningPath(path)"
                      ><i class="material-icons fa-lg mr-3">edit</i></a
                    >
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#deletePath"
                      (click)="setLearningPath(path)"
                      ><i class="material-icons fa-lg">delete</i></a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal"
  id="createPath"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Create Learning Path</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createPath="ngForm" (ngSubmit)="addLearningPath(createPath)">
          <div class="text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  ngModel
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="deletePath"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Delete Learning Path</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary text-left" *ngIf="selectedPath">
        <div class="col-12">
          <h6>Title:</h6>
          <p class="text-primary">{{ selectedPath.title }}</p>
        </div>
        <div class="col-12 mt-3">
          <p class="text-danger h6 bold">
            Do you want to remove this learning path?
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-danger"
          (click)="deleteLearningPath()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="editPath"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Learning Path</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedPath">
        <form #editPath="ngForm" (ngSubmit)="updateLearningPath(editPath)">
          <div class="text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  [(ngModel)]="selectedPath.title"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="viewClass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">View Class Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <button
            class="btn btn-primary mb-3 ml-3"
            data-toggle="modal"
            data-target="#createClass"
          >
            Create Class
          </button>
        </div>
        <table class="table table-hover table-bordered">
          <thead class="bg-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Classes</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let class of classes; let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ class.title }}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="buttons">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#editClass"
                        (click)="setClass(class)"
                        ><i class="material-icons fa-lg mr-3">edit</i></a
                      >
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#deleteClass"
                        (click)="setClass(class)"
                        ><i class="material-icons fa-lg">delete</i></a
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="createClass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Create Class</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createClass="ngForm" (ngSubmit)="addClass(createClass)">
          <div class="text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  ngModel
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  id="editClass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Class</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedClass">
        <form #editClass="ngForm" (ngSubmit)="updateClass(editClass)">
          <div class="text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  [(ngModel)]="selectedClass.title"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="deleteClass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Delete Class</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedClass">
        <div class="row">
          <div class="col-12">
            <h6>Class Title:</h6>
            <p class="text-primary">{{ selectedClass.title }}</p>
          </div>

          <div class="col-12 mt-3">
            <p class="text-danger h6 bold">Do you want to remove this class?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteClass()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
