<div class="card card-brt-0">
  <div class="card-body">
    <div class="pdf-container" *ngIf="taskDetails.courseTaskContent.handoutLink">
      <pdf-viewer [src]="
          ImgBaseURL + taskDetails.courseTaskContent.handoutLink
        " [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1" [zoom-scale]="'page-width'"
        [stick-to-page]="false" [render-text]="true" [external-link-target]="'blank'" [autoresize]="true" style="
          width: 100%;
          height: 600px;
          border: 1px solid #edf0f2;
          box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
        "></pdf-viewer>
    </div>
    <div class="description-container" *ngIf="!taskDetails.courseTaskContent.handoutLink"
      [innerHTML]="taskDetails.courseTaskContent.description"></div>
  </div>
</div>