<div class="mdk-box js-mdk-box mb-0" [style.background]="'#6138c2'">
  <div
    class="mdk-box__content"
    style="
      background-image: 'url(/assets/images/bg-course.jpg)';
      background-size: contain;
      background-repeat: no-repeat;
    "
  >
    <div
      class="hero py-48pt text-center text-sm-left"
      [style.background]="'rgba(48, 57, 85, 0.71)'"
      *ngIf="courseDetails"
    >
      <div class="container page__container">
        <h2 class="text-white m-0">{{ courseDetails.title }}</h2>
        <p class="lead text-white-50 measure-hero-lead">
          {{ courseDetails.code }} -
          {{ courseDetails.courseDepartment?.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center"
  *ngIf="courseDetails"
>
  <div class="container page__container">
    <ul class="nav navbar-nav flex align-items-sm-center">
      <li class="nav-item navbar-list__item">
        <div
          class="media align-items-center"
          *ngIf="courseDetails.courseInstructors.length > 0"
        >
          <span class="media-left mr-16pt">
            <span *ngIf="courseDetails.courseInstructors[0].imageUrl">
              <img
                [src]="ImgBaseURL + courseDetails.courseInstructors[0].imageUrl"
                width="40"
                height="40"
                alt="avatar"
                class="rounded-circle"
              />
            </span>
            <span
              class="avatar avatar-sm mr-8pt2"
              *ngIf="!courseDetails.courseInstructors[0].imageUrl"
            >
              <span class="avatar-title rounded-circle bg-primary">
                <i class="material-icons">account_box</i>
              </span>
            </span>
          </span>
          <div class="media-body">
            <a class="card-title m-0 text-70" href="javascript:void(0)">
              {{ courseDetails.courseInstructors[0]?.name }}
            </a>
            <p class="text-50 lh-1 mb-0">Instructor</p>
          </div>
        </div>
      </li>
      <li
        class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item"
      >
        <ul class="nav navbar-nav flex align-items-sm-center">
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.about"
            (click)="toggleSection('about')"
            [routerLink]="['/courses', courseDetails.id]"
          >
            <i class="material-icons icon--left">info</i> <span>About</span>
          </li>
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.index"
            (click)="toggleSection('index')"
            [routerLink]="['modules']"
          >
            <i class="material-icons icon--left">list_alt</i>
            <span>Modules</span>
          </li>
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.eBook"
            (click)="toggleSection('eBook')"
            [routerLink]="['eBook']"
          >
            <i class="material-icons icon--left">menu_book</i>
            <span>eBook</span>
          </li>
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.links"
            (click)="toggleSection('links')"
            [routerLink]="['useful-links']"
          >
            <i class="material-icons icon--left">share</i>
            <span>Useful Links</span>
          </li>
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.faqs"
            (click)="toggleSection('faqs')"
            [routerLink]="['faqs']"
          >
            <i class="material-icons icon--left">dvr</i> <span>FAQs</span>
          </li>

          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.achievements"
            (click)="toggleSection('achievements')"
            [routerLink]="['achievements']"
            *ngIf="loggedInUser.role.title == 'User'"
          >
            <i class="material-icons icon--left">emoji_events</i>
            <span>Achievements</span>
          </li>
          <li
            class="nav-item navbar-list__item pl-3"
            [class.active]="sections.discussion"
            (click)="toggleSection('discussion')"
            [routerLink]="['discussion']"
          >
            <i class="material-icons icon--left">forum</i>
            <span>AI Assistant</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="page-section border-bottom-2">
  <router-outlet></router-outlet>
</div>
