<div class="mdk-box js-mdk-box mb-0" [style.background]="'#6138c2'">
  <div class="mdk-box__content" style="
      background-image: 'url(/assets/images/bg-course.jpg)';
      background-size: contain;
      background-repeat: no-repeat;
    ">
    <div class="hero py-48pt text-center text-sm-left" [style.background]="'rgba(48, 57, 85, 0.71)'"
      *ngIf="courseDetails">
      <div class="container page__container">
        <h2 class="text-white m-0">{{ courseDetails.title }}</h2>
        <p class="lead text-white-50 measure-hero-lead">
          {{ courseDetails.code }} - {{ courseDetails.courseDepartment?.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center"
  *ngIf="courseDetails">
  <div class="container page__container">
    <ul class="nav navbar-nav flex align-items-sm-center">
      <li class="nav-item navbar-list__item">
        <div class="media align-items-center" *ngIf="courseDetails.courseInstructors.length > 0">
          <span class="media-left mr-16pt">
            <span *ngIf="courseDetails.courseInstructors[0].imageUrl">
              <img src="courseDetails.courseInstructors[0].imageUrl" width="40" alt="avatar" class="rounded-circle" />
            </span>
            <span class="avatar avatar-sm mr-8pt2" *ngIf="!courseDetails.courseInstructors[0].imageUrl">
              <span class="avatar-title rounded-circle bg-primary">
                <i class="material-icons">account_box</i>
              </span>
            </span>
          </span>
          <div class="media-body">
            <a class="card-title m-0 text-70" href="javascript:void(0)">
              {{ courseDetails.courseInstructors[0]?.name }}
            </a>
            <p class="text-50 lh-1 mb-0">Instructor</p>
          </div>
        </div>
      </li>
      <li class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item">
        <ul class="nav navbar-nav flex align-items-sm-center">
          <li class="nav-item navbar-list__item pr-3" [class.active]="sections.about" (click)="toggleSection('about')">
            <i class="material-icons icon--left">info</i> <span>About</span>
          </li>
          <li class="nav-item navbar-list__item pr-3" [class.active]="sections.index"
            (click)="toggleSection('index'); getModules();">
            <i class="material-icons icon--left">list_alt</i>
            <span>Syllabus</span>
          </li>
          <li class="nav-item navbar-list__item pr-3" [class.active]="sections.books"
            (click)="toggleSection('books'); getBooks();">
            <i class="material-icons icon--left">menu_book</i>
            <span>Books</span>
          </li>
          <li class="nav-item navbar-list__item pr-3" [class.active]="sections.links"
            (click)="toggleSection('links'); getUsefulLinks();">
            <i class="material-icons icon--left">share</i>
            <span>Useful Links</span>
          </li>
          <li class="nav-item navbar-list__item pr-3" [class.active]="sections.faqs"
            (click)="toggleSection('faqs'); getFaqs();">
            <i class="material-icons icon--left">dvr</i> <span>FAQs</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="page-section border-bottom-2" *ngIf="sections.about">
  <div class="container page__container" *ngIf="courseDetails">
    <div class="page-separator">
      <div class="page-separator__text">About this course</div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="about-course">
          <p class="text-70">{{ courseDetails.about }}</p>
        </div>
        <div class="what-you-learn mt-5">
          <div class="page-separator">
            <div class="page-separator__text">What you’ll learn</div>
          </div>
          <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-center" *ngFor="let objective of courseDetails.courseObjectives">
              <span class="material-icons text-50 mr-8pt">check</span>
              <span class="text-70">{{ objective.description }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" *ngIf="courseDetails.courseInstructors.length > 0">
          <div class="card-body py-16pt text-center">
            <div class="text-70">
              <p class="mb-16pt mt-16pt">
                <span class="avatar avatar-sm mr-8pt2" *ngIf="!courseDetails.courseInstructors[0].imageUrl">
                  <span class="avatar-title rounded-circle bg-primary">
                    <i class="material-icons">account_box</i>
                  </span>
                </span>
                <span *ngIf="courseDetails.courseInstructors[0].imageUrl">
                  <img [src]="instructor.image" alt="guy-6" class="rounded-circle" width="64" />
                </span>
              </p>
              <h4 class="mb-16pt">
                {{ courseDetails.courseInstructors[0].name }}
              </h4>
              <p>
                {{ courseDetails.courseInstructors[0].about }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section border-bottom-2" *ngIf="sections.index">
  <div class="container page__container">
    <div class="page-separator">
      <div class="page-separator__text">
        {{ syllabus.title }}
        <span class="heading-icon" data-toggle="modal" data-target="#moduleModal" (click)="setModuleFormType('create')">
          <i class="material-icons">add_circle</i>
        </span>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col-lg-9">
        <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
          <ng-container *ngFor="let module of modules">
            <div class="row">
              <div class="col-12">
                <div class="accordion__item mb-4">
                  <div class="accordion__toggle collapsed">
                    <span class="flex">{{ module.title }}
                      <span class="heading-icon" data-toggle="modal" data-target="#taskModal"
                        (click)="setTaskFormType('create'); setTaskModuleId(module.id);">
                        <i class="material-icons">add_circle</i>
                      </span>
                    </span>
                    <div class="buttons">
                      <span data-toggle="modal" data-target="#moduleModal"
                        (click)="setModule(module); setModuleFormType('update');">
                        <i class="material-icons fa-lg mx-1">edit</i></span>
                      <span data-toggle="modal" data-target="#moduleModal"
                        (click)="setModule(module); setModuleFormType('delete');">
                        <i class="material-icons fa-lg">delete</i></span>
                    </div>
                  </div>
                  <div class="accordion__menu collapse show" [id]="'course-toc-' + module.id" data-parent="#parent">
                    <ng-container *ngFor="let item of module.courseTasks">
                      <div class="accordion__menu-link active">
                        <span
                          class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left"
                          *ngIf="item.status != 'closed'">
                          <i class="material-icons icon-16pt">play_circle_outline</i>
                        </span>
                        <span
                          class="icon-holder icon-holder--small icon-holder--light rounded-circle d-inline-flex icon--left"
                          *ngIf="item.status == 'closed'">
                          <i class="material-icons icon-16pt">lock</i>
                        </span>
                        <a class="flex" href="javascript:void(0)" [routerLink]="['/courses/1/lectures/2']">{{ item.title
                          }}</a>
                        <span class="text-muted">{{ item.estimatedTime }}</span>

                        <div class="d-flex align-items-center">
                          <div class="buttons">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#taskModal"
                              (click)="setTask(item); setTaskFormType('update')">
                              <i class="material-icons fa-lg mx-1 ml-2">edit</i></a>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#taskModal"
                              (click)="setTask(item); setTaskFormType('delete')"><i
                                class="material-icons fa-lg">delete</i></a>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section border-bottom-2" *ngIf="sections.books">
  <div class="container page__container">
    <div class="row">
      <div class="col-md-12">
        <div class="what-you-learn">
          <div class="page-separator d-flex align-items-center justify-content-between mb-16pt">
            <div class="page-separator__text">Recommended Books
              <span class="heading-icon" data-toggle="modal" data-target="#bookModal"
                (click)="setBookFormType('create')">
                <i class="material-icons">add_circle</i>
              </span>
            </div>
            <!-- <div class="search-form search-form--light pr-0 pl-16pt">
              <input type="text" class="form-control pl-0" placeholder="Search" />
              <button class="btn" type="submit">
                <i class="material-icons">search</i>
              </button>
            </div> -->
          </div>
          <div class="row" *ngFor="let book of books">
            <div class="col-md-12">
              <div class="card card--elevated card-group-row__card">
                <div class="card-body d-flex">
                  <a [href]="book.bookUrl" target="_blank">
                    <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                      <i class="material-icons">book</i>
                    </span>
                  </a>
                  <div class="flex">
                    <div class="d-flex justify-content-between">
                      <a [href]="book.bookUrl" target="_blank">
                        <h5 class="card-subtitle-2 mb-4pt text-100">{{ book.title }}</h5>
                      </a>
                      <div class="buttons">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#bookModal"
                          (click)="setBookFormType('update'); setBook(book)">
                          <i class="material-icons fa-lg mx-1">edit</i></a>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#bookModal"
                          (click)="setBookFormType('delete'); setBook(book)">
                          <i class="material-icons fa-lg mx-1">delete</i></a>
                      </div>
                    </div>
                    <p class="text-70 mb-0">
                      <strong>Edition: </strong>{{ book.edition }}<br>
                      <strong>Author: </strong>{{ book.author }}<br>
                      <strong>Publisher: </strong>{{ book.publisher }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section border-bottom-2" *ngIf="sections.links">
  <div class="container page__container">
    <div class="page-separator d-flex align-items-center justify-content-between mb-32pt">
      <div class="page-separator__text">Useful Links
        <span class="heading-icon" data-toggle="modal" data-target="#usefulLinkModal"
          (click)="setUsefulLinkFormType('create')">
          <i class="material-icons">add_circle</i>
        </span>
      </div>
      <!-- <div class="search-form search-form--light pr-0 pl-16pt">
        <input type="text" class="form-control pl-0" placeholder="Search" />
        <button class="btn" type="submit">
          <i class="material-icons">search</i>
        </button>
      </div> -->
    </div>
    <div class="row" *ngFor="let link of usefulLinks">
      <div class="col-md-12">
        <div class="card card--elevated card-group-row__card">
          <div class="card-body d-flex">
            <a [href]="link.linkUrl" target="_blank">
              <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                <i class="material-icons">link</i>
              </span>
            </a>
            <div class="flex">
              <div class="d-flex justify-content-between">
                <a [href]="link.linkUrl" target="_blank">
                  <h5 class="card-subtitle-2 mb-4pt text-100">{{ link.title }}</h5>
                </a>
                <div class="buttons">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#usefulLinkModal"
                    (click)="setUsefulLinkFormType('update'); setUsefulLink(link)">
                    <i class="material-icons fa-lg mx-1">edit</i></a>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#usefulLinkModal"
                    (click)="setUsefulLinkFormType('delete'); setUsefulLink(link)">
                    <i class="material-icons fa-lg mx-1">delete</i></a>
                </div>
              </div>
              <p class="text-70 mb-0">{{ link.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-section border-bottom-2" *ngIf="sections.faqs">
  <div class="container page__container">
    <div class="page-separator d-flex align-items-center justify-content-between mb-32pt">
      <div class="page-separator__text">Frequently Ask Questions
        <span class="heading-icon" data-toggle="modal" data-target="#faqModal" (click)="setFaqFormType('create')">
          <i class="material-icons">add_circle</i>
        </span>
      </div>
      <!-- <div class="search-form search-form--light pr-0 pl-16pt">
        <input type="text" class="form-control pl-0" placeholder="Search" />
        <button class="btn" type="submit">
          <i class="material-icons">search</i>
        </button>
      </div> -->
    </div>
    <div class="row card-group-row" *ngFor="let faq of faqs">
      <div class="col-md-12 card-group-row__col">
        <div class="card card--elevated card-group-row__card">
          <div class="card-body d-flex">
            <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
              <i class="material-icons">question_answer</i>
            </span>
            <div class="flex">
              <div class="d-flex justify-content-between">
                <h5 class="card-subtitle-2 mb-4pt text-100">{{ faq.title }}</h5>
                <div class="buttons">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal"
                    (click)="setFaqFormType('update'); setFaq(faq)">
                    <i class="material-icons fa-lg mx-1">edit</i></a>
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#faqModal"
                    (click)="setFaqFormType('delete'); setFaq(faq)">
                    <i class="material-icons fa-lg mx-1">delete</i></a>
                </div>
              </div>
              <p class="text-70 mb-0">{{ faq.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="pagination justify-content-start pagination-xsm m-0">
      <li class="page-item disabled">
        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
          <span aria-hidden="true" class="material-icons">chevron_left</span>
          <span>Prev</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0)" aria-label="Page 1">
          <span>1</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0)" aria-label="Page 2">
          <span>2</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="javascript:void(0)" aria-label="Next">
          <span>Next</span>
          <span aria-hidden="true" class="material-icons">chevron_right</span>
        </a>
      </li>
    </ul> -->
  </div>
</div>

<div class="modal" id="moduleModal" tabindex="-1" role="dialog" aria-labelledby="moduleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moduleModalLabel" *ngIf="moduleFormType == 'create'">Create Module</h5>
        <h5 class="modal-title" id="moduleModalLabel" *ngIf="moduleFormType == 'update'">Update Module</h5>
        <h5 class="modal-title" id="moduleModalLabel" *ngIf="moduleFormType == 'delete'">Delete Module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModuleModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #editIndex="ngForm">
          <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="module.title"
              [disabled]="moduleFormType == 'delete'" />
          </div>
          <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="module.description"
              [disabled]="moduleFormType == 'delete'" />
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-primary" (click)="createModule()"
              *ngIf="moduleFormType == 'create'">Create</button>
            <button type="submit" class="btn btn-primary" (click)="updateModule()"
              *ngIf="moduleFormType == 'update'">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteModule()"
              *ngIf="moduleFormType == 'delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel" *ngIf="taskFormType == 'create'">Create Task</h5>
        <h5 class="modal-title" id="taskModalLabel" *ngIf="taskFormType == 'update'">Update Task</h5>
        <h5 class="modal-title" id="taskModalLabel" *ngIf="taskFormType == 'delete'">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeTaskModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="taskModuleId" class="form-label">Module</label>
                <select class="form-select form-control" id="taskModuleId" name="taskModuleId"
                  [(ngModel)]="task.moduleId" disabled>
                  <option></option>
                  <ng-container *ngFor="let module of modules">
                    <option [value]="module.id">
                      {{ module.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="taskTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="taskTitle" name="taskTitle" [(ngModel)]="task.title" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="taskDescription" class="form-label">Description</label>
                <textarea class="form-control" id="taskDescription" name="taskDescription"
                  [(ngModel)]="task.description"></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="taskEstimatedTime" class="form-label">Estimated Time</label>
                <input type="text" class="form-control" id="taskEstimatedTime" name="taskEstimatedTime"
                  [(ngModel)]="task.estimatedTime" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label" for="taskTypeId">Task Type</label>
                <select class="form-select form-control" id="taskTypeId" name="taskTypeId"
                  [(ngModel)]="task.taskTypeId">
                  <ng-container *ngFor="let type of taskTypes">
                    <option [value]="type.id">
                      {{ type.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="taskVideoLink" class="form-label">Video Link</label>
                <input type="text" class="form-control" id="taskVideoLink" name="taskVideoLink"
                  [(ngModel)]="task.videoLink" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="taskHandoutLink" class="form-label">Handout Link</label>
                <input type="text" class="form-control" id="taskHandoutLink" name="taskHandoutLink"
                  [(ngModel)]="task.handoutLink" />
              </div>
            </div>
            <div class="col-12">
              <div class="buttons">
                <button class="btn btn-primary" (click)="createTask()" *ngIf="taskFormType == 'create'">Create</button>
                <button class="btn btn-primary" (click)="updateTask()" *ngIf="taskFormType == 'update'">Update</button>
                <button class="btn btn-danger" (click)="deleteTask()" *ngIf="taskFormType == 'delete'">Delete</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'create'">Create Book</h5>
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'update'">Update Book</h5>
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'delete'">Delete Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBookModal></button>
      </div>
      <div class="modal-body text-primary">
        <form #formBook="ngForm">
          <div class="row mb-3">
            <div class="col">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="bookTitle" [(ngModel)]="book.title"
                [disabled]="bookFormType == 'delete'" />
            </div>
            <div class="col">
              <label for="edition" class="form-label">Edition</label>
              <input type="text" class="form-control" id="edition" name="bookEdition" [(ngModel)]="book.edition"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="author" class="form-label">Author</label>
              <input type="text" class="form-control" id="author" name="bookAuthor" [(ngModel)]="book.author"
                [disabled]="bookFormType == 'delete'" />
            </div>
            <div class="col">
              <label for="publisher" class="form-label">Publisher</label>
              <input type="text" class="form-control" id="publisher" name="bookPublisher" [(ngModel)]="book.publisher"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="bookUrl" class="form-label">Book URL</label>
              <input type="url" class="form-control" id="bookUrl" name="bookUrl" [(ngModel)]="book.bookUrl"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="createBook()"
              *ngIf="bookFormType == 'create'">Create</button>
            <button type="submit" class="btn btn-primary" (click)="updateBook()"
              *ngIf="bookFormType == 'update'">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteBook()"
              *ngIf="bookFormType == 'delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="usefulLinkModal" tabindex="-1" role="dialog" aria-labelledby="usefulLinkModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="usefulLinkModalLabel" *ngIf="usefulLinkFormType == 'create'">Create
          Useful Link</h5>
        <h5 class="modal-title" id="usefulLinkModalLabel" *ngIf="usefulLinkFormType == 'update'">Update
          Useful Link</h5>
        <h5 class="modal-title" id="usefulLinkModalLabel" *ngIf="usefulLinkFormType == 'delete'">Delete
          Useful Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeLinkModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formUsefulLink="ngForm">
          <div class="form-group">
            <label for="usefulLinkTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="usefulLinkTitle" name="usefulLinkTitle"
              [(ngModel)]="usefulLink.title" [disabled]="usefulLinkFormType == 'delete'" />
          </div>
          <div class="form-group">
            <label for="usefulLinkDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="usefulLinkDescription" name="usefulLinkDescription"
              [(ngModel)]="usefulLink.description" [disabled]="usefulLinkFormType == 'delete'" />
          </div>
          <div class="form-group">
            <label for="usefulLinkUrl" class="form-label">Link URL</label>
            <input type="url" class="form-control" id="usefulLinkUrl" name="usefulLinkUrl"
              [(ngModel)]="usefulLink.linkUrl" [disabled]="usefulLinkFormType == 'delete'" />
          </div>
          <div class="buttons">
            <button type="submit" class="btn btn-primary" (click)="createUsefulLink()"
              *ngIf="usefulLinkFormType == 'create'">Create</button>
            <button type="submit" class="btn btn-primary" (click)="updateUsefulLink()"
              *ngIf="usefulLinkFormType == 'update'">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteUsefulLink()"
              *ngIf="usefulLinkFormType == 'delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="faqModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="faqModalLabel" *ngIf="faqFormType == 'create'">Create FAQ</h5>
        <h5 class="modal-title" id="faqModalLabel" *ngIf="faqFormType == 'update'">Update FAQ</h5>
        <h5 class="modal-title" id="faqModalLabel" *ngIf="faqFormType == 'delete'">Delete FAQ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeFaqModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formFaq="ngForm">
          <div class="form-group">
            <label for="faqTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="faqTitle" name="faqTitle" [(ngModel)]="faq.title"
              [disabled]="faqFormType == 'delete'" />
          </div>
          <div class="form-group">
            <label for="faqDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="faqDescription" name="faqDescription"
              [(ngModel)]="faq.description" [disabled]="faqFormType == 'delete'" />
          </div>
          <div class="buttons mt-2">
            <button type="submit" class="btn btn-primary" (click)="createFaq()"
              *ngIf="faqFormType == 'create'">Create</button>
            <button type="submit" class="btn btn-primary" (click)="updateFaq()"
              *ngIf="faqFormType == 'update'">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteFaq()"
              *ngIf="faqFormType == 'delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" id="createTask" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Create Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createTask="ngForm">
          <div class="modal-body text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" ngModel />
              </div>
              <div class="col">
                <label for="estimatedTime" class="form-label">Estimated Time</label>
                <input type="text" class="form-control" id="estimatedTime" name="estimatedTime" ngModel />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="description" class="form-label">Content Description</label>
                <input type="text" class="form-control" id="description" name="description" ngModel />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="videoLink" class="form-label">Video Link</label>
                <input type="text" class="form-control" id="videoLink" name="videoLink" ngModel />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="handoutLink" class="form-label">Handout Link</label>
                <input type="text" class="form-control" id="handoutLink" name="handoutLink" ngModel />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label class="form-label" for="typeId">Task Type</label>
                <select class="form-select form-control" id="typeId" name="typeId" ngModel>
                  <ng-container *ngFor="let type of taskTypes">
                    <option [value]="type.id">
                      {{ type.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col">
                <label class="form-label" for="moduleId">Course Module</label>
                <select class="form-select form-control" id="moduleId" name="moduleId" ngModel>
                  <ng-container *ngFor="let module of courseIndexes">
                    <option></option>
                    <option [value]="module.id">
                      {{ module.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="editTask" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal></button>
      </div>
      <div class="modal-body text-primary" *ngIf="selectedTask">
        <form #editTask="ngForm">
          <div class="row mb-3">
            <div class="col">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="selectedTask.title" />
            </div>
            <div class="col">
              <label for="estimatedTime" class="form-label">Estimated Time</label>
              <input type="text" class="form-control" id="estimatedTime" name="estimatedTime"
                [(ngModel)]="selectedTask.estimatedTime" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="description" class="form-label">Content Description</label>
              <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="selectedTask.description" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="videoLink" class="form-label">Video Link</label>
              <input type="text" class="form-control" id="videoLink" name="videoLink"
                [(ngModel)]="selectedTask.contentVideoLink" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="handoutLink" class="form-label">Handout Link</label>
              <input type="text" class="form-control" id="handoutLink" name="handoutLink"
                [(ngModel)]="selectedTask.contentHandoutLink" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="form-label" for="typeId">Task Type</label>
              <select class="form-select form-control" id="typeId" name="typeId"
                [(ngModel)]="selectedTask.courseTaskType.id">
                <ng-container *ngFor="let type of taskTypes">
                  <option [value]="type.id">
                    {{ type.title }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="deleteTask" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" *ngIf="selectedTask">
        <div class="row">
          <div class="col-12">
            <h6>Title:</h6>
            <p class="text-primary">{{ selectedTask.title }}</p>
          </div>
          <div class="col-12">
            <h6>Estimated Time:</h6>
            <p class="text-primary">{{ selectedTask.estimatedTime }}</p>
          </div>
          <div class="col-12">
            <h6>Description:</h6>
            <p class="text-primary">{{ selectedTask.description }}</p>
          </div>
          <div class="col-12">
            <h6>Video Link:</h6>
            <p class="text-primary">{{ selectedTask.contentVideoLink }}</p>
          </div>
          <div class="col-12">
            <h6>Handout Link:</h6>
            <p class="text-primary">{{ selectedTask.contentHandoutLink }}</p>
          </div>
          <div class="col-12">
            <h6>Task Type:</h6>
            <p class="text-primary">{{ selectedTask.courseTaskType.title }}</p>
          </div>

          <div class="col-12 mt-3">
            <p class="text-danger h6 bold">Do you want to remove this task?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteTask()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div> -->