<div class="container page__container" *ngIf="taskDetails && taskDetails.courseTaskContent">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="page-separator mb-32pt">
        <div class="page-separator__text" *ngIf="syllabus.id">
          {{ syllabus.title }}
        </div>
      </div>
      <div class="accordion js-accordion accordion--boxed list-group-flush" id="parent">
        <ng-container *ngFor="let module of modules">
          <div class="row">
            <div class="col-12">
              <div class="accordion__item mb-4">
                <div class="accordion__toggle collapsed">
                  <span class="flex">{{ module.title }}</span>
                </div>
                <div class="accordion__menu collapse show" [id]="'course-toc-' + module.id" data-parent="#parent">
                  <ng-container *ngFor="let item of module.courseTasks">
                    <div class="accordion__menu-link" [class.active]="!item.disabled"
                      [class.current]="item.id == taskId">
                      <span class="icon-holder icon-holder--mini rounded-circle d-inline-flex icon--left"
                        [class.text-muted]="item.disabled" [class.icon-holder--light]="item.progress == '0'"
                        [class.icon-holder--success]="item.progress != '0'">
                        <ng-container *ngIf="item.progress != '0'">
                          <i class="material-icons icon-12pt">check</i>
                        </ng-container>
                        <ng-container *ngIf="item.progress == '0'">
                          <i class="material-icons icon-14pt">
                            <ng-container *ngIf="item.disabled && item.id != taskId">lock</ng-container>
                            <ng-container *ngIf="!item.disabled">
                              <ng-container *ngIf="
                                  item.courseTaskType.title == 'Assessment'
                                ">storage</ng-container>
                              <ng-container *ngIf="item.courseTaskType.title == 'Reading'">description</ng-container>
                              <ng-container *ngIf="item.courseTaskType.title == 'Video'">play_arrow</ng-container>
                            </ng-container>
                          </i>
                        </ng-container>
                      </span>
                      <a class="flex" [class.disabled]="item.id != taskId && item.disabled"
                        [class.text-muted]="item.id != taskId && item.disabled" [routerLink]="
                          !item.disabled
                            ? ['/courses', courseId, 'task', item.id]
                            : []
                        ">
                        <strong>{{ item.courseTaskType.title }}:</strong>
                        {{ item.title }} <br />
                        <div class="d-flex align-items-center justify-content-between">
                          <span class="text-muted">{{ item.estimatedTime }}
                          </span>
                          <!-- <span class="text-muted" *ngIf="item.courseTaskType.title == 'Assessment' && loggedInUser.role.title == 'User'">
                            Result: {{ item.progress }}%
                          </span> -->
                        </div>
                      </a>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="page-separator mb-32pt">
        <div class="page-separator__text">
          {{ taskDetails.title }}
        </div>
      </div>
      <div class="page-task">
        <ng-container *ngIf="loading">
          <div class="text-center loading-icon">
            <img src="/assets/images/loading.svg" />
          </div>
        </ng-container>
        <ng-container *ngIf="!loading">
          <div class="card mb-0">
            <div class="card-header">
              <div class="page-attributes">
                <div class="estimatedTime d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="task-attribute mr-4">
                      <span class="icon-holder icon-holder--mini rounded-circle d-inline-flex icon--left">
                        <i class="material-icons icon-14pt text-dark">folder_open</i>
                      </span>
                      <span class="text-dark"><strong>{{
                          taskDetails.courseTaskType.title
                          }}</strong></span>
                    </div>
                    <div class="task-attribute mr-4">
                      <span class="icon-holder icon-holder--mini rounded-circle d-inline-flex icon--left">
                        <i class="material-icons icon-14pt text-dark">access_time</i>
                      </span>
                      <span class="text-dark"><strong>{{ taskDetails.estimatedTime }}</strong></span>
                    </div>
                  </div>
                  <div *ngIf="loggedInUser.role.title == 'User'">
                    <ng-container *ngIf="taskDetails.progress == '0'">
                      <div class="task-attribute">
                        <span class="icon-holder icon-holder--mini rounded-circle d-inline-flex icon--left">
                          <i class="material-icons icon-14pt text-dark">info_outline</i>
                        </span>
                        <span class="text-dark"><strong>Inprogress</strong></span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="taskDetails.progress != '0'">
                      <div class="d-flex align-items-center">
                        <div class="task-attribute">
                          <span
                            class="icon-holder icon-holder--success icon-holder--mini rounded-circle d-inline-flex icon--left">
                            <i class="material-icons icon-14pt text-light">info_outline</i>
                          </span>
                          <span class="text-dark"><strong>Completed</strong></span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="taskDetails.courseTaskType.title == 'Video'">
            <div class="card card-brt-0">
              <div class="card-body">
                <div class="video">
                  <video #videoPlayer controls (timeupdate)="checkPauseTime()" style="width: 100%">
                    <source [src]="
                        VideoBaseURL + taskDetails.courseTaskContent.videoLink
                      " type="video/mp4" />
                  </video>
                </div>
                <button data-target="#videoAssessmentModal" data-toggle="modal" #taskAssessmentModal
                  style="visibility: hidden">
                  Show assessment
                </button>
                <div class="modal" id="videoAssessmentModal" tabindex="-1" role="dialog" data-backdrop="static"
                  data-keyboard="false">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Assessment</h5>
                        <span data-dismiss="modal" #closeVideoAssessmentModal style="visibility: hidden">
                          Close assessment
                        </span>
                      </div>
                      <div class="modal-body">
                        <div class="assessment-container">
                          <div *ngFor="let assessment of assessments">
                            <div class="assessment">
                              <div class="d-flex justify-content-between">
                                <h5>{{ assessment.title }}</h5>
                              </div>
                              <p>{{ assessment.description }}</p>
                              <hr class="mb-4" />
                            </div>
                            <ng-container>
                              <div class="assessment-questions" *ngFor="
                                  let question of assessment.courseTaskAssessmentQuestions;
                                  let i = index
                                ">
                                <div class="d-flex justify-content-between">
                                  <p>
                                    <strong>{{ i + 1 }}. {{ question.title }}</strong>
                                  </p>
                                </div>
                                <ul class="pl-2" style="list-style: none">
                                  <li *ngFor="
                                      let option of question.options;
                                      let y = index
                                    ">
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" [name]="question.id"
                                        [id]="'option-' + i + y" [value]="option" [disabled]="submitted" (change)="
                                          getSubmissions($event, question.id)
                                        " />
                                      <label class="form-check-label fw-400" [for]="'option-' + i + y"
                                        style="color: #303840">
                                        {{ option }}</label>
                                    </div>
                                  </li>
                                </ul>
                                <ng-container *ngFor="let data of submission">
                                  <div *ngIf="
                                      showError &&
                                      !(
                                        data.id == question.id &&
                                        data.answer.trim() ==
                                          question.answer.trim()
                                      )
                                    ">
                                    <div class="badge badge-danger mb-4 ml-2" *ngIf="data.id == question.id">
                                      Incorrect Answer
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                              <button *ngIf="!showError" type="submit" class="btn btn-primary mt-2 mr-2"
                                (click)="validateVideoAssessmentAnswer()">
                                Submit
                              </button>
                              <button *ngIf="showError" type="submit" class="btn btn-outline-primary mt-2"
                                (click)="retryVideoAssessment()">
                                Retry
                              </button>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="transcript mt-3">
                  <h5>
                    Transcript
                    <span *ngIf="loggedInUser.role.title == 'Administrator'" class="heading-icon" data-toggle="modal"
                      data-target="#videoTranscriptModal" (click)="setVideoTranscript(taskDetails.transcript)">
                      <i class="material-icons">edit</i>
                    </span>
                  </h5>
                  <p [innerHTML]="taskDetails.transcript?.content"></p>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="taskDetails.courseTaskType.title == 'Reading'">
            <div class="card card-brt-0">
              <div class="card-body">
                <div class="pdf-container" *ngIf="taskDetails.courseTaskContent.handoutLink">
                  <pdf-viewer [src]="
                      ImgBaseURL + taskDetails.courseTaskContent.handoutLink
                    " [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
                    [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                    [external-link-target]="'blank'" [autoresize]="true" style="
                      width: 100%;
                      height: 600px;
                      border: 1px solid #edf0f2;
                      box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
                    "></pdf-viewer>
                </div>
                <div class="description-container" *ngIf="!taskDetails.courseTaskContent.handoutLink"
                  [innerHTML]="taskDetails.courseTaskContent.description"></div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="
              taskDetails.courseTaskType.title == 'Assessment' ||
              (taskDetails.courseTaskType.title == 'Video' &&
                loggedInUser.role.title == 'Administrator')
            ">
            <div class="card card-brt-0">
              <div class="card-body">
                <div class="assessment-container">
                  <h5 *ngIf="assessments.length == 0">
                    Assessment
                    <span class="heading-icon" data-toggle="modal" data-target="#assessmentModal" (click)="
                        setAssessmentFormType('create'); resetAssessmentData()
                      " *ngIf="permission.assessment.create">
                      <i class="material-icons">add_circle</i>
                    </span>
                  </h5>
                  <div *ngFor="let assessment of assessments">
                    <div class="assessment" *ngIf="!submitted">
                      <div class="d-flex justify-content-between">
                        <h5>{{ assessment.title }}</h5>
                        <div class="buttons">
                          <span data-toggle="modal" data-target="#assessmentModal" *ngIf="permission.assessment.update"
                            (click)="
                              setAssessment(assessment);
                              setAssessmentFormType('update')
                            ">
                            <i class="material-icons fa-lg fs-14pt mx-1">edit</i></span>
                          <span data-toggle="modal" data-target="#assessmentModal" *ngIf="permission.assessment.delete"
                            (click)="
                              setAssessment(assessment);
                              setAssessmentFormType('delete')
                            ">
                            <i class="material-icons fa-lg fs-14pt">delete</i></span>
                        </div>
                      </div>
                      <p>{{ assessment.description }}</p>
                      <hr class="mb-4" />
                    </div>
                    <ng-container *ngIf="!submitted">
                      <div class="assessment-questions" *ngFor="
                          let question of assessment.courseTaskAssessmentQuestions;
                          let i = index
                        ">
                        <div class="d-flex justify-content-between">
                          <p>
                            <strong>{{ i + 1 }}. {{ question.title }}</strong>
                          </p>
                          <div class="buttons" *ngIf="loggedInUser.role.title == 'Administrator'">
                            <span data-toggle="modal" data-target="#assessmentQuestionModal"
                              *ngIf="permission.question.update" (click)="
                                setAssessmentQuestion(question);
                                setAssessmentQuestionFormType('update')
                              ">
                              <i class="material-icons fa-lg fs-14pt mx-1">edit</i></span>
                            <span data-toggle="modal" data-target="#assessmentQuestionModal"
                              *ngIf="permission.question.delete" (click)="
                                setAssessmentQuestion(question);
                                setAssessmentQuestionFormType('delete')
                              ">
                              <i class="material-icons fa-lg fs-14pt">delete</i></span>
                          </div>
                        </div>
                        <ul class="pl-2" style="list-style: none">
                          <li *ngFor="
                              let option of question.options;
                              let y = index
                            ">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [name]="question.id" [id]="'option-' + i + y"
                                [value]="option" [disabled]="submitted"
                                (change)="getSubmissions($event, question.id)" />
                              <label class="form-check-label fw-400" [for]="'option-' + i + y" style="color: #303840">
                                {{ option }}</label>
                              <span *ngIf="
                                  permission.question.view.answer &&
                                  option.trim() == question.answer.trim()
                                " class="badge badge-info ml-2">correct</span>
                            </div>
                          </li>
                        </ul>
                        <ng-container *ngFor="let data of submission">
                          <div *ngIf="
                              error &&
                              !(
                                data.id == question.id &&
                                data.answer.trim() == question.answer.trim()
                              )
                            ">
                            <div class="badge badge-danger mb-4 ml-2" *ngIf="data.id == question.id">
                              Incorrect Answer
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <button type="submit" class="btn btn-primary mt-2 mr-2"
                        *ngIf="permission.assessment.submit && !error" (click)="validateAssessmentAnswer()">
                        Submit
                      </button>
                      <button type="submit" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                        data-target="#assessmentQuestionModal" *ngIf="permission.question.create" (click)="
                          setAssessmentQuestionFormType('create');
                          setAssessment(assessment)
                        ">
                        Add Question
                      </button>
                    </ng-container>
                    <ng-container *ngIf="submitted">
                      <div class="text-center mt-5">
                        <span class="icon-holder icon-holder--outline-success rounded-circle d-inline-flex m-0">
                          <i class="material-icons">emoji_events</i>
                        </span>
                        <div class="flex mt-3">
                          <p class="text-70 mb-0"><strong>Result</strong></p>
                          <h4>{{ taskDetails?.progress }}<small>%</small></h4>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-2" (click)="retryAssessment()">
                          Retry
                        </button>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="
              loggedInUser.role.title == 'User' &&
              taskDetails.courseTaskType.title != 'Assessment'
            ">
            <div class="card mt-4" *ngIf="taskDetails.progress == '0'">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <h6 class="mb-0">Have you completed this task?</h6>
                  <button type="button" class="btn btn-outline-dark btn-sm" (click)="updateTaskProgress('100')">
                    Mark as Completed
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="
              taskDetails.courseTaskType.title != 'Reading' &&
              taskDetails.courseTaskContent.description.trim() != ''
            ">
            <div class="page-separator__text my-2">Description</div>
            <p [innerHTML]="taskDetails.courseTaskContent.description"></p>
          </ng-container>
        </ng-container>
      </div>
      <!-- <div class="page-navigation">
        <div class="btn btn-outline-dark" *ngIf="taskIdPrevious"
          [routerLink]="['/courses', courseId, 'task', taskIdPrevious]">
          Previous Task
        </div>
        <div class="btn btn-outline-dark" *ngIf="taskIdNext && taskDetails.progress == '100'"
          [routerLink]="['/courses', courseId, 'task', taskIdNext]">
          Next Task
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="modal" id="assessmentModal" tabindex="-1" role="dialog" *ngIf="
    permission.assessment.create ||
    permission.assessment.update ||
    permission.assessment.delete
  ">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="assessmentFormType == 'create' && permission.assessment.create">
          Create Assessment
        </h5>
        <h5 class="modal-title" *ngIf="assessmentFormType == 'update' && permission.assessment.update">
          Update Assessment
        </h5>
        <h5 class="modal-title" *ngIf="assessmentFormType == 'delete' && permission.assessment.delete">
          Delete Assessment
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="assessmentTitle" name="assessmentTitle"
                  [(ngModel)]="assessment.title" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentDescription" class="form-label">Description</label>
                <textarea class="form-control" id="assessmentDescription" name="assessmentDescription"
                  [(ngModel)]="assessment.description"></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="assessmentEstimatedTime" class="form-label">Estimated Time</label>
                <input type="text" class="form-control" id="assessmentEstimatedTime" name="assessmentEstimatedTime"
                  [(ngModel)]="assessment.estimatedTime" />
              </div>
            </div>
            <div class="col-6" *ngIf="taskDetails?.courseTaskType?.title == 'Video'">
              <div class="form-group">
                <label for="assessmentStartTime" class="form-label">Start Time</label>
                <input type="text" class="form-control" id="assessmentStartTime" name="assessmentStartTime"
                  [(ngModel)]="assessment.startTime" />
              </div>
            </div>

            <div class="col-12">
              <div class="buttons">
                <button class="btn btn-primary" (click)="createAssessment()" *ngIf="
                    assessmentFormType == 'create' &&
                    permission.assessment.create
                  ">
                  Create
                </button>
                <button class="btn btn-primary" (click)="updateAssessment()" *ngIf="
                    assessmentFormType == 'update' &&
                    permission.assessment.update
                  ">
                  Update
                </button>
                <button class="btn btn-danger" (click)="deleteAssessment()" *ngIf="
                    assessmentFormType == 'delete' &&
                    permission.assessment.delete
                  ">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="videoTranscriptModal" tabindex="-1" role="dialog" *ngIf="permission.videoTranscript.update">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transcript</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="form-group">
            <label>Content</label>
            <div class="editor editor-content">
              <ngx-editor-menu [editor]="editorVideoTranscript" [toolbar]="toolbar">
              </ngx-editor-menu>
              <ngx-editor [editor]="editorVideoTranscript" [(ngModel)]="videoTranscript.content"
                name="transcriptContent">
              </ngx-editor>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="updateVideoTranscript()" data-dismiss="modal">
          Update
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="assessmentQuestionModal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="
    permission.question.create ||
    permission.question.update ||
    permission.question.delete
  ">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="questionFormType == 'create' && permission.question.create">
          Create Assessment Question
        </h5>
        <h5 class="modal-title" *ngIf="questionFormType == 'update' && permission.question.update">
          Update Assessment Question
        </h5>
        <h5 class="modal-title" *ngIf="questionFormType == 'delete' && permission.question.delete">
          Delete Assessment Question
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #questionModalBtnClose>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentQuestionTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="assessmentQuestionTitle" name="assessmentQuestionTitle"
                  [(ngModel)]="question.title" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentQuestionOptions" class="form-label">Options</label>
                <textarea class="form-control" id="assessmentQuestionOptions" name="assessmentQuestionOptions"
                  [(ngModel)]="question.options">{{ question.options }}</textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentQuestionAnswer" class="form-label">Answer</label>
                <input type="text" class="form-control" id="assessmentQuestionAnswer" name="assessmentQuestionAnswer"
                  [(ngModel)]="question.answer" />
              </div>
            </div>
            <div class="col-12">
              <div class="buttons">
                <button class="btn btn-primary" (click)="createAssessmentQuestion()" *ngIf="
                    questionFormType == 'create' && permission.question.create
                  ">
                  Create
                </button>
                <button class="btn btn-primary" (click)="updateAssessmentQuestion()" *ngIf="
                    questionFormType == 'update' && permission.question.update
                  ">
                  Update
                </button>
                <button class="btn btn-danger" (click)="deleteAssessmentQuestion()" *ngIf="
                    questionFormType == 'delete' && permission.question.delete
                  ">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button #questionModalBtn data-toggle="modal" data-target="#questionModal" style="display: none"></button>