<div class="mdk-box js-mdk-box mb-0" [style.background]="'#6138c2'">
  <div
    class="mdk-box__content"
    style="
      background-image: 'url(/assets/images/bg-course.jpg)';
      background-size: contain;
      background-repeat: no-repeat;
    "
  >
    <div
      class="hero py-48pt text-center text-sm-left"
      [style.background]="'rgba(48, 57, 85, 0.71)'"
    >
      <div
        class="container page__container"
        *ngIf="courseDetails && courseDetails.courseDepartment"
      >
        <h2
          class="d-flex align-items-center justify-content-between text-white m-0"
        >
          {{ courseDetails.title }}
          <span class="badge badge-secondary ml-3 mt-1"
            ><small>Lecture</small></span
          >
        </h2>
        <p class="lead text-white-50 measure-hero-lead">
          {{ courseDetails.code }} - {{ courseDetails.courseDepartment.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center"
  *ngIf="courseDetails"
>
  <div class="container page__container">
    <ul class="nav navbar-nav flex align-items-sm-center">
      <li class="nav-item navbar-list__item">
        <div
          class="media align-items-center"
          *ngIf="courseDetails.courseInstructors.length > 0"
        >
          <span
            class="media-left mr-16pt"
            *ngIf="courseDetails.courseInstructors[0].imageUrl"
          >
            <img
              [src]="ImgBaseURL + courseDetails.courseInstructors[0].imageUrl"
              width="40"
              alt="avatar"
              class="rounded-circle"
            />
          </span>
          <div class="media-body">
            <a class="card-title m-0 text-70" href="javascript:void(0)">{{
              courseDetails.courseInstructors[0].name
            }}</a>
            <p class="text-50 lh-1 mb-0">Instructor</p>
          </div>
        </div>
      </li>
      <li
        class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item"
      >
        <ul class="nav navbar-nav flex align-items-sm-center">
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.videos"
            (click)="toggleSection('videos')"
          >
            <i class="material-icons icon--left">videocam</i>
            <span>Videos</span>
          </li>
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.handouts"
            (click)="toggleSection('handouts')"
          >
            <i class="material-icons icon--left">assignment</i>
            <span>Handouts</span>
          </li>
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.presentations"
            (click)="toggleSection('presentations')"
          >
            <i class="material-icons icon--left">screen_share</i>
            <span>Presentations</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div
  class="pb-lg-64pt py-44pt"
  *ngIf="taskDetails && taskDetails.courseTaskContent"
>
  <div class="container page__container">
    <div class="row">
      <div class="col-5">
        <app-course-toc></app-course-toc>
      </div>
      <div class="col-7">
        <div
          *ngIf="sections.videos"
          class="js-player embed-responsive embed-responsive-16by9 mb-48pt"
        >
          <div class="player embed-responsive-item">
            <div class="player__content">
              <iframe
                src="https://www.youtube.com/embed/JGwtVbOz528?si=59O5ILV1DBmR76lO&amp;controls=0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                allowfullscreen
              ></iframe>
              <!-- <video #videoPlayer controls class="custom-video"> -->
              <!-- <source src="https://www.youtube.com/watch?v=JGwtVbOz528" /> -->
              <!-- </video> -->
            </div>
            <!-- <div class="player__embed d-none">
                      <iframe class="embed-responsive-item"
                          src="https://player.vimeo.com/video/97243285?title=0&amp;byline=0&amp;portrait=0"
                          allowfullscreen=""></iframe>
                  </div> -->
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="sections.handouts" class="mb-48pt">
      <div class="pdf-container">
        <pdf-viewer
          [src]="'/assets/files/lecture-43.pdf'"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          style="
            width: 100%;
            height: 600px;
            border: 1px solid #edf0f2;
            box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
          "
        ></pdf-viewer>
      </div>
    </div>

    <div *ngIf="sections.presentations" class="mb-48pt">
      <a href="javascript:void(0)" class="btn btn-outline-primary">Download</a>
    </div>
  </div>
</div>
