<div class="mdk-box js-mdk-box mb-0" [style.background]="'#6138c2'">
  <div
    class="mdk-box__content"
    style="
      background-image: 'url(/assets/images/bg-course.jpg)';
      background-size: contain;
      background-repeat: no-repeat;
    "
  >
    <div
      class="hero py-48pt text-center text-sm-left"
      [style.background]="'rgba(48, 57, 85, 0.71)'"
    >
      <div
        class="container page__container"
        *ngIf="courseDetails && courseDetails.courseDepartment"
      >
        <h2
          class="d-flex align-items-center justify-content-between text-white m-0"
        >
          {{ courseDetails.title }}
          <span class="badge badge-secondary ml-3 mt-1"
            ><small>Lecture</small></span
          >
        </h2>
        <p class="lead text-white-50 measure-hero-lead">
          {{ courseDetails.code }} - {{ courseDetails.courseDepartment.title }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="navbar navbar-expand-sm navbar-light bg-white border-bottom-2 navbar-list p-0 m-0 align-items-center"
  *ngIf="courseDetails"
>
  <div class="container page__container">
    <ul class="nav navbar-nav flex align-items-sm-center">
      <li class="nav-item navbar-list__item">
        <div
          class="media align-items-center"
          *ngIf="courseDetails.courseInstructors.length > 0"
        >
          <span
            class="media-left mr-16pt"
            *ngIf="courseDetails.courseInstructors[0].imageUrl"
          >
            <img
              [src]="ImgBaseURL + courseDetails.courseInstructors[0].imageUrl"
              width="40"
              alt="avatar"
              class="rounded-circle"
            />
          </span>
          <div class="media-body">
            <a class="card-title m-0 text-70" href="javascript:void(0)">{{
              courseDetails.courseInstructors[0].name
            }}</a>
            <p class="text-50 lh-1 mb-0">Instructor</p>
          </div>
        </div>
      </li>
      <li
        class="nav-item ml-sm-auto text-sm-center flex-column navbar-list__item"
      >
        <ul class="nav navbar-nav flex align-items-sm-center">
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.videos"
            (click)="toggleSection('videos')"
          >
            <i class="material-icons icon--left">videocam</i>
            <span>Videos</span>
          </li>
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.handouts"
            (click)="toggleSection('handouts')"
          >
            <i class="material-icons icon--left">assignment</i>
            <span>Handouts</span>
          </li>
          <li
            class="nav-item navbar-list__item pr-3"
            [class.active]="sections.presentations"
            (click)="toggleSection('presentations')"
          >
            <i class="material-icons icon--left">screen_share</i>
            <span>Presentations</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div
  class="pb-lg-64pt py-44pt"
  *ngIf="taskDetails && taskDetails.courseTaskContent"
>
  <div class="container page__container">
    <div class="row">
      <div class="col-5">
        <app-course-toc></app-course-toc>
      </div>
      <div class="col-7">
        <div id="youtube-player"></div>

        <!-- <div
          *ngIf="sections.videos"
          class="js-player embed-responsive embed-responsive-16by9 mb-48pt"
        >
          <div class="player embed-responsive-item">
            <div class="player__content"> -->
        <!-- <iframe
                
                src="https://www.youtube.com/embed/JGwtVbOz528?si=59O5ILV1DBmR76lO&amp;controls=0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope;"
                allowfullscreen
              ></iframe> -->

        <!-- </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="row">
      <h5>Assessments</h5>
      <span
        class="heading-icon"
        data-toggle="modal"
        data-target="#assessmentModal"
        (click)="setAssessmentType('create')"
        *ngIf="permission.module.create"
      >
        <i class="material-icons">add_circle</i>
      </span>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" *ngFor="let assessment of assessments">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="assessments">
                <h6>{{ assessment.title }}</h6>
                <p>{{ assessment.description }}</p>
              </div>

              <div class="buttons ml-3">
                <span
                  data-toggle="modal"
                  data-target="#assessmentModal"
                  (click)="
                    setAssessment(assessment); setAssessmentType('update')
                  "
                  *ngIf="permission.assessment.update"
                >
                  <i class="material-icons fa-lg mx-1">edit</i></span
                >
                <span
                  data-toggle="modal"
                  data-target="#assessmentModal"
                  (click)="
                    setAssessment(assessment); setAssessmentType('delete')
                  "
                  *ngIf="permission.assessment.delete"
                >
                  <i class="material-icons fa-lg mr-2">delete</i></span
                >
                <button
                  type="submit"
                  class="btn btn-outline-primary btn-sm"
                  data-toggle="modal"
                  data-target="#assessmentQuestionModal"
                  (click)="
                    setAssessmentQuestionType('create');
                    setAssessment(assessment)
                  "
                  *ngIf="permission.question.create"
                >
                  Add Question
                </button>
              </div>
            </div>
            <div
              class="questions"
              *ngFor="let question of assessment.courseTaskAssessmentQuestions"
            >
              <h5>{{ question.title }}</h5>
              <p>{{ question.options }}</p>
              <p>{{ question.answer }}</p>

              <div class="buttons ml-3">
                <span
                  data-toggle="modal"
                  data-target="#assessmentQuestionModal"
                  (click)="
                    setAssessmentQuestion(question);
                    setAssessmentQuestionType('update')
                  "
                  *ngIf="permission.question.update"
                >
                  <i class="material-icons fa-lg mx-1">edit</i></span
                >
                <span
                  data-toggle="modal"
                  data-target="#assessmentQuestionModal"
                  (click)="
                    setAssessmentQuestion(question);
                    setAssessmentQuestionType('delete')
                  "
                  *ngIf="permission.question.delete"
                >
                  <i class="material-icons fa-lg mr-2">delete</i></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="sections.handouts" class="mb-48pt">
      <div class="pdf-container">
        <pdf-viewer
          [src]="'/assets/files/lecture-43.pdf'"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          style="
            width: 100%;
            height: 600px;
            border: 1px solid #edf0f2;
            box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
          "
        ></pdf-viewer>
      </div>
    </div>

    <div *ngIf="sections.presentations" class="mb-48pt">
      <a href="javascript:void(0)" class="btn btn-outline-primary">Download</a>
    </div>
  </div>
</div>

<div
  class="modal"
  id="assessmentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="assessmentModalLabel"
  aria-hidden="true"
  *ngIf="
    permission.assessment.create ||
    permission.assessment.update ||
    permission.assessment.delete
  "
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="assessmentModalLabel"
          *ngIf="assessmentType == 'create' && permission.assessment.create"
        >
          Create Assessment
        </h5>
        <h5
          class="modal-title"
          id="assessmentModalLabel"
          *ngIf="assessmentType == 'update' && permission.assessment.update"
        >
          Update Assessment
        </h5>
        <h5
          class="modal-title"
          id="assessmentModalLabel"
          *ngIf="assessmentType == 'delete' && permission.assessment.delete"
        >
          Delete Assessment
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentTitle" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="assessmentTitle"
                  name="assessmentTitle"
                  [(ngModel)]="assessment.title"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentDescription" class="form-label"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  id="assessmentDescription"
                  name="assessmentDescription"
                  [(ngModel)]="assessment.description"
                ></textarea>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="assessmentEstimatedTime" class="form-label"
                  >Estimated Time</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentEstimatedTime"
                  name="assessmentEstimatedTime"
                  [(ngModel)]="assessment.estimatedTime"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="assessmentEstimatedTime" class="form-label"
                  >Start Time</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentEstimatedTime"
                  name="assessmentEstimatedTime"
                  [(ngModel)]="assessment.startTime"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="buttons">
                <button
                  class="btn btn-primary"
                  (click)="createAssessment()"
                  *ngIf="
                    assessmentType == 'create' && permission.assessment.create
                  "
                >
                  Create
                </button>
                <button
                  class="btn btn-primary"
                  (click)="updateAssessment()"
                  *ngIf="
                    assessmentType == 'update' && permission.assessment.update
                  "
                >
                  Update
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteAssessment()"
                  *ngIf="
                    assessmentType == 'delete' && permission.assessment.delete
                  "
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="assessmentQuestionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="assessmentQuestionModalLabel"
  aria-hidden="true"
  *ngIf="
    permission.question.create ||
    permission.question.update ||
    permission.question.delete
  "
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="assessmentQuestionModalLabel"
          *ngIf="
            assessmentQuestionType == 'create' && permission.question.create
          "
        >
          Create Assessment Question
        </h5>
        <h5
          class="modal-title"
          id="assessmentQuestionModalLabel"
          *ngIf="
            assessmentQuestionType == 'update' && permission.question.update
          "
        >
          Update Assessment Question
        </h5>
        <h5
          class="modal-title"
          id="assessmentQuestionModalLabel"
          *ngIf="
            assessmentQuestionType == 'delete' && permission.question.delete
          "
        >
          Delete Assessment Question
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-primary">
        <form #formTask="ngForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentQuestionTitle" class="form-label"
                  >Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentQuestionTitle"
                  name="assessmentQuestionTitle"
                  [(ngModel)]="question.title"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="assessmentQuestionOptions" class="form-label"
                  >Options</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentQuestionOptions"
                  name="assessmentQuestionOptions"
                  [(ngModel)]="question.options"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="assessmentQuestionAnswer" class="form-label"
                  >Answer</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentQuestionAnswer"
                  name="assessmentQuestionAnswer"
                  [(ngModel)]="question.answer"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="assessmentQuestionType" class="form-label"
                  >Type</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="assessmentQuestionType"
                  name="assessmentQuestionType"
                  [(ngModel)]="question.type"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="buttons">
                <button
                  class="btn btn-primary"
                  (click)="createAssessmentQuestion()"
                  *ngIf="
                    assessmentQuestionType == 'create' &&
                    permission.question.create
                  "
                >
                  Create
                </button>
                <button
                  class="btn btn-primary"
                  (click)="updateAssessmentQuestion()"
                  *ngIf="
                    assessmentQuestionType == 'update' &&
                    permission.question.update
                  "
                >
                  Update
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteAssessmentQuestion()"
                  *ngIf="
                    assessmentQuestionType == 'delete' &&
                    permission.question.delete
                  "
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<button
  #questionModalBtn
  data-toggle="modal"
  data-target="#questionModal"
  style="display: none"
>
  ds
</button>

<div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          class="d-none"
          data-dismiss="modal"
          aria-label="Close"
          #questionModalBtnClose
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="quiz-container">
          <p>What is 2 + 2?</p>
          <label *ngFor="let option of options">
            <input
              type="radio"
              name="quizOption"
              [value]="option.value"
              [(ngModel)]="selectedOption"
            />
            {{ option.label }}
          </label>
        </div>
        <div class="retry-container" *ngIf="showError">
          <p class="text-danger">Incorrect answer!</p>
          <p>Please retry the quiz.</p>
          <button (click)="retryQuiz()">Retry</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="checkAnswer()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
