<div class="page-separator d-flex align-items-center justify-content-between mb-32pt">
  <div class="page-separator__text">
    AI Assistant
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="layout-app app-messages">
      <div class="">
        <div class="page-content">
          <div>
            <div class="">
              <div class="app-messages__container d-flex flex-column">
                <div class="flex pt-1" style="position: relative">
                  <div>
                    <ul class="d-flex flex-column list-unstyled" id="messages">
                      <li class="message d-inline-flex">
                        <div class="message__body card">
                          <div class="card-body">
                            <span class="text-70">Coming along nicely, we&#39;ve got a draft for the
                              client design completed, take a look!</span>
                            <div class="time d-flex align-items-center">
                              <div><small class="text-50">1 hour ago</small></div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="message d-inline-flex">
                        <div class="message__body card">
                          <div class="card-body">
                            <span class="text-70">Clients loved the new design.</span>
                            <div class="time d-flex align-items-center">
                              <div class="flex mr-3"></div>
                              <div><small class="text-50">5 minutes ago</small></div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="message d-inline-flex">
                        <div class="message__body card">
                          <div class="card-body">
                            <span class="text-70">Superb job..</span>
                            <div class="time d-flex align-items-center">
                              <div><small class="text-50">5 minutes ago</small></div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="message d-inline-flex">
                        <div class="message__body card">
                          <div class="card-body">
                            <span class="text-70">Glad it all worked out</span>
                            <div class="time d-flex align-items-center">
                              <div class="flex mr-3"></div>
                              <div><small class="text-50">just now</small></div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="">
                  <form action="#" id="message-reply">
                    <div class="input-group input-group-merge">
                      <input type="text" class="form-control form-control-appended" placeholder="Type message"
                        name="spokenText" [(ngModel)]="spokenText" style="padding: 1.5rem 0.75rem;" />
                      <div *ngIf="microphone">
                        <span>Listening
                          <span class="typing ms-2">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                          </span>
                        </span>
                      </div>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <button class="btn btn-flush" type="button" [class.btn-stop]="microphone"
                            (click)="toggleMicrophone()">
                            <i class="material-icons" *ngIf="!microphone">mic</i>
                            <i class="material-icons" *ngIf="microphone">stop_circle</i>
                          </button>
                        </div>
                        <div class="input-group-text">
                          <button class="btn btn-primary btn-sm" type="submit" (click)="sendMessage()">
                            <i class="material-icons" id="submit-btn">send</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>