<div class="container page__container" *ngIf="taskDetails && taskDetails.courseTaskContent">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="page-separator mb-32pt">
        <div class="page-separator__text" *ngIf="syllabus.id">
          {{ syllabus.title }}
        </div>
      </div>
      <app-course-toc-modules></app-course-toc-modules>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="page-separator d-flex justify-content-between mb-32pt">
        <div class="page-separator__text">{{ taskDetails.title }}</div>
        <div *ngIf="taskDetails.reference">
          <a [routerLink]="[
              '/courses',
              courseId,
              'books',
              taskDetails.reference
            ]">View eBook Reference</a>
        </div>
      </div>
      <div class="page-task">
        <!-- <ng-container *ngIf="loading">
          <div class="text-center loading-icon">
            <img src="/assets/images/loading.svg" />
          </div>
        </ng-container> -->
        <ng-container>
          <div class="card mb-0">
            <div class="card-header">
              <!--
                Task Attributes
               -->
              <app-course-task-attributes></app-course-task-attributes>
            </div>
          </div>

          <ng-container *ngIf="taskDetails.courseTaskType.title == 'Video'">
            <div class="card card-brt-0">
              <div class="card-body">
                <!--
                  Task i.e Video
                 -->
                <app-course-task-type-video></app-course-task-type-video>

                <!--
                  Task Transcript
                 -->
                <app-course-task-transcript></app-course-task-transcript>
              </div>
            </div>
          </ng-container>

          <!--
            Task i.e Reading
           -->
          <app-course-task-type-reading
            *ngIf="taskDetails.courseTaskType.title == 'Reading'"></app-course-task-type-reading>

          <!--
            Task i.e Assessment
           -->
          <app-course-task-type-assessment *ngIf="
              taskDetails.courseTaskType.title == 'Assessment' ||
              (taskDetails.courseTaskType.title == 'Video' &&
                loggedInUser.role.title == 'Administrator')
            "></app-course-task-type-assessment>

          <!--
            Task i.e Mark as Complete
           -->
          <app-course-task-mark-complete *ngIf="
              loggedInUser.role.title == 'User' &&
              taskDetails.courseTaskType.title != 'Assessment'
            "></app-course-task-mark-complete>

          <!--
            Task Description
           -->
          <app-course-task-description *ngIf="
              taskDetails.courseTaskType.title != 'Reading' &&
              taskDetails.courseTaskContent.description.trim() != ''
            "></app-course-task-description>
        </ng-container>
      </div>

      <!--
        Task Navigation
       -->
      <app-course-task-navigation></app-course-task-navigation>
    </div>
  </div>
</div>

<button #questionModalBtn data-toggle="modal" data-target="#questionModal" style="display: none"></button>