<div class="navbar navbar-expand navbar-light border-bottom-2 px-0" id="default-navbar" data-primary>
  <div class="container page__container">

    <!-- Navbar toggler -->
    <button class="navbar-toggler w-auto mr-16pt d-block d-lg-none rounded-0" type="button" data-toggle="sidebar">
      <span class="material-icons">short_text</span>
    </button>

    <!-- Navbar Brand -->
    <a href="javascript:void(0)" class="navbar-brand mr-16pt">
      <img [src]="'/assets/images/logo/logo.png'" class="h-28px" *ngIf="!client" />
      <img [src]="imageBaseUrl + client?.logoURL" class="h-28px" *ngIf="client" />
    </a>

    <div class="d-none d-sm-flex flex justify-content-center">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" *ngIf="loggedInUser.role.title == 'Administrator'">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/clients']">Clients</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/users']">Users</a>
        </li>
        <li class="nav-item" *ngIf="loggedInUser.role.title == 'Administrator'">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/learningPaths']">Learning Paths</a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/courses']">Courses</a>
        </li>
        <li class="nav-item" *ngIf="loggedInUser.role.title == 'Administrator'">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/assignments']">Assignments</a>
        </li>
        <li class="nav-item" *ngIf="loggedInUser.role.title == 'Client'">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/enrollments']">Enrollments</a>
        </li>
      </ul>
    </div>

    <div class="nav navbar-nav flex-nowrap d-flex ml-16pt mr-0">
      <!-- <div class="nav-item ml-16pt dropdown-notifications" [routerLink]="['/notifications']">
        <button class="nav-link btn-flush">
          <i class="material-icons">notifications_none</i>
          <span class="badge badge-notifications badge-accent">2</span>
        </button>
      </div> -->
      <div class="nav-item dropdown mr-0">
        <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown"
          data-caret="false">
          <div class="mr-3 text-right">
            <p class="avatar-name mb-0">{{ loggedInUser.firstName + ' ' + loggedInUser.lastName }}</p>
            <p class="avatar-role text-50 mb-0"><small>{{ loggedInUser.role.title }}</small></p>
          </div>
          <span class="avatar avatar-sm mr-0">
            <span class="avatar-title rounded-circle bg-primary">
              <i class="material-icons">account_box</i>
            </span>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/account']">Profile & Settings</a>
          <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/change-password']">Change Password</a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>