<div class="container page__container">
  <div class="row">
    <div class="col-md-12">
      <div class="what-you-learn">
        <div class="page-separator d-flex align-items-center justify-content-between mb-32pt">
          <div class="page-separator__text">Recommended Books
            <span class="heading-icon" data-toggle="modal" data-target="#bookModal" (click)="setBookFormType('create')">
              <i class="material-icons">add_circle</i>
            </span>
          </div>
          <!-- <div class="search-form search-form--light pr-0 pl-16pt">
            <input type="text" class="form-control pl-0" placeholder="Search" />
            <button class="btn" type="submit">
              <i class="material-icons">search</i>
            </button>
          </div> -->
        </div>
        <div class="row" *ngFor="let book of books">
          <div class="col-md-12">
            <div class="card card--elevated card-group-row__card">
              <div class="card-body d-flex">
                <a [href]="book.bookUrl" target="_blank">
                  <span class="icon-holder icon-holder--outline-muted rounded-circle d-inline-flex mr-16pt">
                    <i class="material-icons">book</i>
                  </span>
                </a>
                <div class="flex">
                  <div class="d-flex justify-content-between">
                    <a [href]="book.bookUrl" target="_blank">
                      <h5 class="card-subtitle-2 mb-4pt text-100">{{ book.title }}</h5>
                    </a>
                    <div class="buttons">
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#bookModal"
                        (click)="setBookFormType('update'); setBook(book)">
                        <i class="material-icons fa-lg mx-1">edit</i></a>
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#bookModal"
                        (click)="setBookFormType('delete'); setBook(book)">
                        <i class="material-icons fa-lg mx-1">delete</i></a>
                    </div>
                  </div>
                  <p class="text-70 mb-0">
                    <strong>Edition: </strong>{{ book.edition }}<br>
                    <strong>Author: </strong>{{ book.author }}<br>
                    <strong>Publisher: </strong>{{ book.publisher }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'create'">Create Book</h5>
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'update'">Update Book</h5>
        <h5 class="modal-title" id="bookModalLabel" *ngIf="bookFormType == 'delete'">Delete Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBookModal></button>
      </div>
      <div class="modal-body text-primary">
        <form #formBook="ngForm">
          <div class="row mb-3">
            <div class="col">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="bookTitle" [(ngModel)]="book.title"
                [disabled]="bookFormType == 'delete'" />
            </div>
            <div class="col">
              <label for="edition" class="form-label">Edition</label>
              <input type="text" class="form-control" id="edition" name="bookEdition" [(ngModel)]="book.edition"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="author" class="form-label">Author</label>
              <input type="text" class="form-control" id="author" name="bookAuthor" [(ngModel)]="book.author"
                [disabled]="bookFormType == 'delete'" />
            </div>
            <div class="col">
              <label for="publisher" class="form-label">Publisher</label>
              <input type="text" class="form-control" id="publisher" name="bookPublisher" [(ngModel)]="book.publisher"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="bookUrl" class="form-label">Book URL</label>
              <input type="url" class="form-control" id="bookUrl" name="bookUrl" [(ngModel)]="book.bookUrl"
                [disabled]="bookFormType == 'delete'" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="createBook()"
              *ngIf="bookFormType == 'create'">Create</button>
            <button type="submit" class="btn btn-primary" (click)="updateBook()"
              *ngIf="bookFormType == 'update'">Update</button>
            <button type="submit" class="btn btn-danger" (click)="deleteBook()"
              *ngIf="bookFormType == 'delete'">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>