.fvc-content {
  display: flex;
  align-items: center;
  height: 100vh;
}
.login-form-overlay {
  background-color: rgba(57, 149, 231, 0.15);
  padding: 20px;
  border-radius: 20px;
}
.login-form {
  position: relative;
  z-index: 1;
}
.toggle-password {
  position: relative;
  top: -30px;
  left: 80%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
