<div>
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Privacy Policies</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">
                        Aggrement
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container page__container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <p>Please read Privacy Policy</p>

            <strong>Reservation of Rights</strong>
            <p>We reserve the right to request the removal of any links to our LMS. By linking to our LMS, you agree to
              abide by
              these linking terms and conditions.</p>

            <strong>Removal of links</strong>
            <p>If you find any links on our LMS offensive or inappropriate, please contact us. While we may consider
              requests to
              remove links, we are not obligated to do so or to respond directly to you.</p>
            <p>We do not guarantee the accuracy or completeness of the information on our LMS, nor do we promise that the
              LMS will
              be available or that its content will be up to date.</p>

            <strong>Disclaimer</strong>
            <p>To the fullest extent permitted by law, we exclude all representations, warranties, and conditions regarding
              our LMS
              and its use. Nothing in this disclaimer will:</p>
            <ul>
                <li>Limit or exclude liability for death or personal injury;</li>
                <li>Limit or exclude liability for fraud or fraudulent misrepresentation;</li>
                <li>Limit any liabilities not permitted under applicable law; or</li>
                <li>Exclude liabilities that may not be excluded under applicable law.</li>
            </ul>
            <p>The limitations and exclusions of liability set out in this disclaimer apply to all liabilities arising
              from or
              related to your use of our LMS, including liabilities arising in contract, in tort, and for breach of statutory
              duty.</p>
            <p>As long as our LMS and its services are provided free of charge, we will not be liable for any loss or damage
              of any kind.</p>
        </div>
    </div>
</div>
