<div class="container page__container">
  <ng-container *ngIf="loading">
    <div class="text-center loading-icon">
      <img src="/assets/images/loading.svg" />
    </div>
  </ng-container>
  <div class="page-separator d-flex align-items-center justify-content-between mb-32pt" *ngIf="!loading">
    <div class="page-separator__text">Achievements</div>
    <!-- <div class="search-form search-form--light pr-0 pl-16pt">
      <input
        class="form-control form-input"
        type="text"
        placeholder="Search Achievement"
        (input)="searchCourseAchievements($event)"
      />
      <button class="btn" type="submit">
        <i class="material-icons">search</i>
      </button>
    </div> -->
  </div>
  <div class="row" *ngFor="let achievement of courseAchievements; let i = index">
    <div class="col-md-12">
      <div class="card card--elevated card-group-row__card">
        <div class="card-body d-flex align-items-center">
          <circle-progress [percent]="achievement.result" [radius]="40" [showSubtitle]="false" [outerStrokeWidth]="6"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [maxPercent]="100" [animation]="true"
            [animationDuration]="300"></circle-progress>
          <div class="flex ml-3">
            <p class="mb-0">
              <strong class="card-subtitle-2 mb-4pt text-100">{{
                achievement.datetime
                }}</strong>
            </p>
            <p class="text-70 mb-0"><strong>Completion Date </strong></p>
          </div>
          <div>
            <span class="icon-holder icon-holder--outline-success rounded-circle d-inline-flex">
              <i class="material-icons">emoji_events</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>