<ng-container *ngIf="loading">
  <div class="text-center loading-icon">
    <img src="/assets/images/loading.svg" />
  </div>
</ng-container>
<div *ngIf="!loading">
  <div class="page-separator d-flex align-items-center justify-content-between mb-32pt">
    <div class="page-separator__text" *ngIf="syllabus.id">
      {{ syllabus.title }}
    </div>
    <button class="btn btn-primary btn-sm ml-5" *ngIf="loggedInUser.role.title == 'User' && taskTodo && !zeroCourseProgress"
      [routerLink]="['/courses', loggedInUser.role.title == 'User' ? enrollmentId : courseId, 'task', taskTodo.id]">
      Resume Course
    </button>
    <button class="btn btn-primary btn-sm ml-5" *ngIf="loggedInUser.role.title == 'User' && taskTodo && zeroCourseProgress"
      [routerLink]="['/courses', loggedInUser.role.title == 'User' ? enrollmentId : courseId, 'task', taskTodo.id]">
      Start Course
    </button>
  </div>

  <div class="row mb-0">
    <div class="col-lg-12">
      <app-course-toc-modules></app-course-toc-modules>
    </div>
  </div>
</div>
