<ng-container *ngIf="loggedInUserRole == 'User'">
  <div class="row" *ngIf="courseStats">
    <div class="col-lg-12 col-sm-12">
      <div class="page-component">
        <div class="card">
          <div class="card-body p-0">
            <h5 class="component-title px-3 pt-3">Overall Progress</h5>
            <div class="row">
              <div class="col-3">
                <div class="progress-widget">
                  <div id="chart">
                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                      [plotOptions]="chartOptions.plotOptions" [labels]="chartOptions.labels"
                      [legend]="chartOptions.legend" [stroke]="chartOptions.stroke"></apx-chart>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="stat-widget mb-4">
                  <span class="stat-icon">
                    <i class="material-icons">playlist_play</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value">
                      {{ courseStats.stats.courses.enrolled }}
                    </h4>
                    <h4 class="stat-title">Enrolled Courses</h4>
                  </div>
                </div>
                <div class="stat-widget">
                  <span class="stat-icon">
                    <i class="material-icons">replay</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value">
                      {{ courseStats.stats.courses.inqueue }}
                    </h4>
                    <h4 class="stat-title">Courses Not Started</h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="stat-widget mb-4">
                  <span class="stat-icon">
                    <i class="material-icons">access_time</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value">
                      {{ courseStats.stats.courses.inprogress }}
                    </h4>
                    <h4 class="stat-title">Inprogress Courses</h4>
                  </div>
                </div>
                <div class="stat-widget">
                  <span class="stat-icon">
                    <i class="material-icons">check</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value">
                      {{ courseStats.stats.courses.completed }}
                    </h4>
                    <h4 class="stat-title">Completed Courses</h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <img src="/assets/images/stat-calculation.png" height="162" class="mt-3" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12" *ngIf="courseStats.tasks.upcoming.length > 0">
      <div class="page-component">
        <h5 class="component-title">Resume Tasks</h5>
        <div class="card">
          <div class="card-body p-0">
            <div class="tasks-list-widget">
              <div class="task-row" *ngFor="let task of courseStats.tasks.upcoming">
                <div class="task-info">
                  <h6 class="task-title">
                    <a [routerLink]="[
                        '/courses',
                        task.enrollmentId,
                        'task',
                        task.taskId
                      ]" class="text-primary">{{ task.taskName }}</a>
                  </h6>
                  <div class="task-attributes">
                    <div class="attrib">
                      <i class="material-icons">info_outline</i>
                      {{ task.taskType }}
                    </div>
                    <div class="attrib">
                      <i class="material-icons">access_time</i>
                      {{ task.estimatedTime }}
                    </div>
                    <div class="attrib">
                      <i class="material-icons">bookmark_border</i>
                      {{ task.courseName }}
                    </div>
                  </div>
                </div>
                <span class="task-icon-play material-icons">play_circle_outline</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" *ngIf="courseStats.tasks.upcoming.length > 0">
      <div class="page-component">
        <h5 class="component-title">Courses Completion</h5>
        <div class="card">
          <div class="card-body p-0">
            <div class="tasks-list-widget">
              <ng-container *ngFor="let course of courseStats.courses.completion">
                <div class="task-row" *ngIf="
                    course.courseAssignments &&
                    course.courseAssignments.length > 0 &&
                    course.courseAssignments[0].courseEnrollments[0]
                      .courseEnrollmentUsers[0].progress != 100
                  ">
                  <div class="task-info">
                    <h6 class="task-title">
                      <a [routerLink]="['/courses', course.courseAssignments[0].courseEnrollments[0].id]"
                        class="text-primary">{{ course.title }}</a>
                    </h6>
                    <div class="task-attributes justify-content-between" *ngFor="
                        let enrollment of course.courseAssignments[0]
                          .courseEnrollments
                      ">
                      <div class="attrib">
                        <i class="material-icons">date_range</i>
                        <strong class="pr-1">Due Date: </strong>
                        {{ enrollment.completionDateOne || "Not Mentioned" }}
                      </div>
                      <div class="attrib">
                        <i class="material-icons">access_time</i>
                        <strong class="pr-1">Progress: </strong>
                        {{ enrollment.courseEnrollmentUsers[0].progress }}%
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ng-container *ngIf="loading">
        <div class="text-center loading-icon">
          <img src="/assets/images/loading.svg" />
        </div>
      </ng-container>
      <div class="page-component" *ngIf="!loading">
        <h5 class="component-title">My Courses</h5>

        <div class="row">
          <div class="col-lg-4 col-sm-12 col-xs-12" *ngFor="let course of courses">
            <div class="card course">
              <div class="card-body course-body">
                <h6 class="course-attributes">
                  {{ course.code }} - {{ course.courseDepartment.title }}
                </h6>
                <div class="text-ellipsis-2">
                  <h5 class="course-title">
                    <a [routerLink]="['/courses', course.courseEnrollmentId]" class="text-primary">{{ course.title
                      }}</a>
                  </h5>
                </div>
                <div class="course-stats" *ngIf="loggedInUser.role.title == 'User'">
                  <div class="course-stats-info">
                    <span class="course-tasks-count"><strong>{{ course.tasks.completed }}</strong> /
                      {{ course.tasks.total }}</span>
                    <span class="course-tasks-nav-icon"><i class="material-icons">keyboard_arrow_right</i></span>
                  </div>
                  <div class="course-progress progress">
                    <div class="progress-bar" role="progressbar" [style]="'width: ' + course.progress + '%'"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="buttons mt-3">
                  <a *ngIf="loggedInUser.role.title == 'Client'" [routerLink]="[
                      'courseAssignmentReport',
                      course.courseAssignmentId
                    ]" class="btn btn-dark btn-sm">View Report</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loggedInUserRole == 'Client'">
  <div class="row" *ngIf="courseStats">
    <div class="col-lg-8 col-sm-12">
      <div class="page-component">
        <h5 class="component-title">Overview</h5>
        <div class="card">
          <div class="card-body py-2">
            <div class="team-row">
              <div class="col-3">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">people</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.allUsers }}
                    </h4>
                    <h4 class="stat-title">Users</h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">recent_actors</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.teams }}
                    </h4>
                    <h4 class="stat-title">Teams</h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">dns</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.allCourses }}
                    </h4>
                    <h4 class="stat-title">All Courses</h4>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">assignment</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.activeCourses }}
                    </h4>
                    <h4 class="stat-title">Enrollments</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="
          courseStats.courses.enrolled &&
          courseStats.courses.enrolled.length > 0
        ">
        <div class="page-component">
          <h5 class="component-title">Active Enrollments</h5>
          <div class="card">
            <div class="card-body p-0">
              <div class="tasks-list-widget">
                <div class="task-row" *ngFor="let enrollment of courseStats.courses.enrolled">
                  <div class="task-info">
                    <div class="d-flex justify-content-between">
                      <h6 class="task-title">
                        <a [routerLink]="[
                            '/courses',
                            enrollment.courseAssignment.courseId
                          ]" class="text-primary">{{ enrollment.courseAssignment.course.title }}</a>
                      </h6>
                      <div class="task-attributes">
                        <div class="attrib">
                          <i class="material-icons">date_range</i>
                          <span><strong>Created At:</strong>
                            {{ enrollment.createdAt }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="task-attributes">
                      <div class="attrib">
                        <i class="material-icons">info_outline</i>
                        {{ enrollment.courseAssignment.course.code }}
                      </div>
                      <div class="attrib">
                        <i class="material-icons">bookmark_border</i>
                        {{ enrollment.courseEnrollmentType.title }}
                      </div>
                      <div class="attrib">
                        <i class="material-icons" *ngIf="
                            enrollment.courseEnrollmentType.title != 'All Users'
                          ">info_outline</i>
                        <ng-container *ngIf="
                            enrollment.courseEnrollmentType.title ==
                            'Department'
                          ">
                          ({{ enrollment.userDepartment.title }})
                        </ng-container>
                        <ng-container *ngIf="
                            enrollment.courseEnrollmentType.title == 'Team'
                          ">
                          {{ enrollment.team?.title }}
                        </ng-container>
                        <ng-container *ngIf="
                            enrollment.courseEnrollmentType.title ==
                            'Individual'
                          ">
                          {{
                          enrollment.courseEnrollmentUsers[0].user.firstName +
                          " " +
                          enrollment.courseEnrollmentUsers[0].user.lastName
                          }}
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="courseStats.achievements && courseStats.achievements.length > 0">
        <div class="page-component">
          <h5 class="component-title">Most Recent Acheivements</h5>
          <div class="card">
            <div class="card-body p-0">
              <table class="table table-bordered mb-0">
                <thead>
                  <tr>
                    <td class="w-15"><strong>Created At</strong></td>
                    <td class="w-25"><strong>User</strong></td>
                    <td><strong>Course</strong></td>
                    <td class="w-15 text-center"><strong>Marks</strong></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let achievements of courseStats.achievements">
                    <td>{{ achievements.createdAt }}</td>
                    <td>
                      {{
                      achievements.courseEnrollmentUser.user.firstName +
                      " " +
                      achievements.courseEnrollmentUser.user.lastName
                      }}
                    </td>
                    <td>
                      {{
                      achievements.courseEnrollmentUser.courseEnrollment
                      .courseAssignment.course.title
                      }}
                    </td>
                    <td class="text-center">{{ achievements.result }}%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="page-component">
        <h5 class="component-title">Users</h5>
        <div class="card card-users" *ngIf="courseStats.users && courseStats.users.length > 0">
          <div class="card-body">
            <div class="team-row">
              <div class="users-images">
                <ng-container *ngIf="courseStats.users.length > 6">
                  <ng-container *ngFor="let number of [0, 1, 2, 3, 4, 5]">
                    <img [src]="ImgBaseURL + courseStats.users[number].userProfile.imageUrl"
                      *ngIf="courseStats.users[number].userProfile.imageUrl" />
                    <img src="/assets/images/users/user-placeholder.png"
                      *ngIf="!courseStats.users[number].userProfile.imageUrl" />
                  </ng-container>
                  <span>+ {{ courseStats.users.length - 6 }} more</span>
                </ng-container>
                <ng-container *ngIf="courseStats.users.length <= 6">
                  <ng-container *ngFor="let user of courseStats.users">
                    <img [src]="ImgBaseURL + user.userProfile.imageUrl" *ngIf="user.userProfile.imageUrl" />
                    <img src="/assets/images/users/user-placeholder.png" *ngIf="!user.userProfile.imageUrl" />
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-component">
        <h5 class="component-title">Teams</h5>
        <div class="card card-users">
          <div class="card-body">
            <ng-container *ngIf="courseStats.teams && courseStats.teams.length > 0">
              <div class="team-row" *ngFor="let team of courseStats.teams">
                <h6 class="team-title">{{ team.title }}</h6>
                <div class="team-images">
                  <ng-container *ngIf="team.teamUsers.length > 3">
                    <ng-container *ngFor="let number of [0, 1, 2]">
                      <img [src]="ImgBaseURL + team.teamUsers[number].user.userProfile.imageUrl"
                        *ngIf="team.teamUsers[number]?.user.userProfile.imageUrl" />
                      <img src="/assets/images/users/user-placeholder.png"
                        *ngIf="!team.teamUsers[number]?.user.userProfile.imageUrl" />
                    </ng-container>
                    <div class="team-more">
                      + {{ team.teamUsers.length - 3 }}
                    </div>
                  </ng-container>
                  <ng-container *ngIf="team.teamUsers.length <= 3">
                    <ng-container *ngFor="let teamUser of team.teamUsers">
                      <img [src]="ImgBaseURL + teamUser.user.userProfile.imageUrl"
                        *ngIf="teamUser?.user.userProfile.imageUrl" />
                      <img src="/assets/images/users/user-placeholder.png"
                        *ngIf="!teamUser?.user.userProfile.imageUrl" />
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loggedInUserRole == 'Administrator'">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-component">
        <h5 class="component-title">Overview</h5>
        <div class="card" *ngIf="courseStats">
          <div class="card-body py-2">
            <div class="team-row">
              <div class="col">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">people</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.totalClients }}
                    </h4>
                    <h4 class="stat-title">Clients</h4>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">recent_actors</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.totalUsers }}
                    </h4>
                    <h4 class="stat-title">Users</h4>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">people</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.totalTeams }}
                    </h4>
                    <h4 class="stat-title">Teams</h4>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">dns</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.totalCourses }}
                    </h4>
                    <h4 class="stat-title">All Courses</h4>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="stat-widget">
                  <span class="stat-icon p-2">
                    <i class="material-icons">assignment</i>
                  </span>
                  <div class="">
                    <h4 class="stat-value fs-20px">
                      {{ courseStats.stats.activeEnrollments }}
                    </h4>
                    <h4 class="stat-title">Enrollments</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ng-container *ngIf="loading">
        <div class="text-center loading-icon">
          <img src="/assets/images/loading.svg" />
        </div>
      </ng-container>
      <div class="page-component" *ngIf="!loading">
        <h5 class="component-title">Courses</h5>
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-xs-12" *ngFor="let course of courses">
            <div class="card course">
              <div class="card-body course-body">
                <h6 class="course-attributes">
                  {{ course.code }} - {{ course.courseDepartment.title }}
                </h6>
                <div class="text-ellipsis-2">
                  <h5 class="course-title">
                    <a [routerLink]="['/courses', course.id]" class="text-primary">{{ course.title }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>