<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Update Question</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Community</a></li>
                    <li class="breadcrumb-item active">
                        Update Question
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container page__container">
    <form action="discussions.html">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-section">
                    <div class="card--connect pb-32pt pb-lg-64pt">
                        <div class="card o-hidden mb-0">
                            <div class="card-body table--elevated">
                                <div class="form-group m-0" role="group" aria-labelledby="label-title">
                                    <div class="form-row align-items-center">
                                        <label id="label-title" for="title"
                                            class="col-md-3 col-form-label form-label">Question title</label>
                                        <div class="col-md-9">
                                            <input id="title" type="text" placeholder="Your question ..."
                                                value="Angular HttpClientModule" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list-group">
                        <div class="list-group-item">
                            <div role="group" aria-labelledby="label-question" class="m-0 form-group">
                                <div class="form-row">
                                    <label id="label-question" for="question"
                                        class="col-md-3 col-form-label form-label">Question details</label>
                                    <div class="col-md-9">
                                        <textarea id="question" placeholder="Describe your question in detail ..."
                                            rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="form-group m-0" role="group" aria-labelledby="label-topic">
                                <div class="form-row align-items-center">
                                    <label id="label-topic" for="topic"
                                        class="col-md-3 col-form-label form-label">Topic</label>
                                    <div class="col-md-9">
                                        <select id="topic" class="form-control custom-select">
                                            <option value="JavaScript">JavaScript</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <button type="button" class="btn btn-accent">Update Question</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 page-nav">
                <div data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true">
                    <div class="page-section pt-lg-112pt">
                        <div class="nav page-nav__menu">
                            <a href="javascript:void(0)" class="nav-link active">To update question</a>
                        </div>
                        <div class="page-nav__content">
                            <p class="text-70">There may be other students who have asked the same question before.</p>
                            <p class="text-70">You should do a quick search first to make sure your question is unique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>