<div class="">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Account</h2>
        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item">
            <a href="">Account</a>
          </li>
          <li class="breadcrumb-item active">Edit Account</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="page-section container page__container">
  <section id="image">
    <div class="form-group">
      <div class="media align-items-center">
        <a href="javascript:void(0)" class="media-left mr-16pt">
          <span *ngIf="user.imageUrl">
            <img
              [src]="ImgBaseURL + user.imageUrl"
              width="56"
              class="rounded-circle"
            />
          </span>
          <span class="avatar avatar-sm mr-8pt2" *ngIf="!user.imageUrl">
            <span class="avatar-title rounded-circle bg-primary">
              <i class="material-icons">account_box</i>
            </span>
          </span>
        </a>
        <div class="media-body">
          <div class="custom-file">
            <form (ngSubmit)="onImageUpload()" #imageForm="ngForm">
              <div class="row">
                <div class="col-10">
                  <input
                    type="file"
                    class="custom-file-input"
                    accept="image/jpeg, image/png, image/jpg"
                    id="profileImage"
                    (change)="onImageSelected($event)"
                    #imageInput
                  />
                  <label class="custom-file-label" for="profileImage">
                    <span>{{ profileImage?.name || "Choose File" }}</span>
                  </label>
                </div>
                <div class="col">
                  <button
                    type="submit"
                    [disabled]="!imageForm.valid"
                    class="btn btn-primary w-100"
                  >
                    Upload
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="profile" class="mt-4">
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="fname">First Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your first name ..."
            id="fname"
            name="fname"
            [(ngModel)]="user.firstName"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="lname">Last Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your last name ..."
            id="lname"
            name="lname"
            [(ngModel)]="user.lastName"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your email ..."
            id="email"
            name="email"
            [(ngModel)]="user.email"
            disabled
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="phone">Phone No.</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your phone ..."
            id="phone"
            name="phone"
            [(ngModel)]="user.phoneNumber"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="skype">Skype ID</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your skype ..."
            id="skype"
            name="skype"
            [(ngModel)]="user.skype"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="jobTitle">Job Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your job title ..."
            id="jobTitle"
            name="jobTitle"
            [(ngModel)]="user.jobTitle"
          />
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="form-group">
          <label class="form-label" for="address">Address</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your address ..."
            id="address"
            name="address"
            [(ngModel)]="user.address"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label" for="city">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your city ..."
            id="city"
            name="city"
            [(ngModel)]="user.city"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label" for="state">State</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your state ..."
            id="state"
            name="state"
            [(ngModel)]="user.state"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label" for="zipcode">Zip Code</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your zipcode ..."
            id="zipcode"
            name="zipcode"
            [(ngModel)]="user.zipcode"
          />
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <label class="form-label" for="country">Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your country ..."
            id="country"
            name="country"
            [(ngModel)]="user.country"
          />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateUserProfile()">
      Save changes
    </button>
  </section>
  <!-- <div class="page-separator">
    <div class="page-separator__text text-bold">Education</div>
  </div>
  <div class="col-md-7 p-0">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-label">School Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your school name ..."
          />
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your school city ..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label">Class / Grade</label>
          <input
            type="text"
            class="form-control"
            placeholder="In which class you are studing ..."
          />
        </div>
      </div>
    </div>
  </div> -->
</div>
