<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Account</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="">Account</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit Account
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-section container page__container">
    <div class="page-separator">
        <div class="page-separator__text text-bold">Basic Info</div>
    </div>
    <div class="col-md-7 p-0">
        <div class="row mb-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-label">Your photo</label>
                    <div class="media align-items-center">
                        <a href="" class="media-left mr-16pt">
                            <img src="/assets/images/people/110/guy-3.jpg" alt="people" width="56"
                                class="rounded-circle" />
                        </a>
                        <div class="media-body">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" placeholder="Your first name ...">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" placeholder="Your last name ...">
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="form-label">Email Address</label>
                    <input type="text" class="form-control" placeholder="Your email ...">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-label">Phone No.</label>
                    <input type="text" class="form-control" placeholder="Your phone ...">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" placeholder="Your address ...">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="form-label">Country</label>
                    <input type="text" class="form-control" placeholder="Your country ...">
                </div>
            </div>
        </div>
    </div>
    <div class="page-separator">
        <div class="page-separator__text text-bold">Education</div>
    </div>
    <div class="col-md-7 p-0">
        <div class="row mb-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="form-label">School Name</label>
                    <input type="text" class="form-control" placeholder="Your school name ...">
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" placeholder="Your school city ...">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label">Class / Grade</label>
                    <input type="text" class="form-control" placeholder="In which class you are studing ...">
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>