<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Account</h2>
        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item">
            <a href="">Account</a>
          </li>
          <li class="breadcrumb-item active">Edit Account</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="page-section container page__container">
  <div class="page-separator">
    <div class="page-separator__text text-bold">Basic Info</div>
  </div>
  <div class="col-md-7 p-0">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-label">Your photo</label>
          <div class="media align-items-center">
            <a href="" class="media-left mr-16pt">
              <img
                [src]="ImgBaseURL + userDetails.imageUrl"
                width="56"
                class="rounded-circle"
              />
            </a>
            <div class="media-body">
              <div class="custom-file">
                <form (ngSubmit)="onSubmit()" #imageForm="ngForm">
                  <div class="row">
                    <div class="col-10">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="profileImage"
                        (change)="onImageSelected($event)"
                        #imageInput
                      />
                      <label class="custom-file-label" for="profileImage"
                        >Choose file</label
                      >
                    </div>
                    <div class="col">
                      <button type="submit" class="btn btn-primary btn-sm mb-4">
                        Upload Image
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form>
      <div class="row mb-2">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="fname">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your first name ..."
              id="fname"
              name="fname"
              [(ngModel)]="userDetails.firstName"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="lname">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your last name ..."
              id="lname"
              name="lname"
              [(ngModel)]="userDetails.lastName"
            />
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your email ..."
              id="email"
              name="email"
              [(ngModel)]="userDetails.email"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="phone">Phone No.</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your phone ..."
              id="phone"
              name="phone"
              [(ngModel)]="userDetails.phoneNumber"
            />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="address">Address</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your address ..."
              id="address"
              name="address"
              [(ngModel)]="userDetails.address"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="country">Country</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your country ..."
              id="country"
              name="country"
              [(ngModel)]="userDetails.country"
            />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="city">City</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your city ..."
              id="city"
              name="city"
              [(ngModel)]="userDetails.city"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="state">State</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your state ..."
              id="state"
              name="state"
              [(ngModel)]="userDetails.state"
            />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="zipcode">Zip Code</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your zipcode ..."
              id="zipcode"
              name="zipcode"
              [(ngModel)]="userDetails.zipcode"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="skype">Skype</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your skype ..."
              id="skype"
              name="skype"
              [(ngModel)]="userDetails.skype"
            />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-label" for="jobTitle">Job Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your job title ..."
              id="jobTitle"
              name="jobTitle"
              [(ngModel)]="userDetails.jobTitle"
            />
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="updateUserProfile()"
      >
        Save changes
      </button>
    </form>
  </div>
  <!-- <div class="page-separator">
    <div class="page-separator__text text-bold">Education</div>
  </div>
  <div class="col-md-7 p-0">
    <div class="row mb-2">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-label">School Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your school name ..."
          />
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="Your school city ..."
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-label">Class / Grade</label>
          <input
            type="text"
            class="form-control"
            placeholder="In which class you are studing ..."
          />
        </div>
      </div>
    </div>
  </div> -->
</div>
