<div class="sidebar sidebar-dark-pickled-bluewood sidebar-left">
    <a class="sidebar-brand p-3 mb-3">
        <img src="/assets/images/logo/logo.png" class="img-fluid" alt="logo" />
    </a>
    <div class="navigation">
        <div class="sidebar-heading">Navigation</div>
        <ul class="sidebar-menu">
            <!-- Dashboard -->
            <li class="sidebar-menu-item active" [class.active]="router.url == urls.home" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.home]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dashboard</span>
                    <span class="sidebar-menu-text">Home</span>
                </a>
            </li>
            <!-- To Do Calendar -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.todo" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.todo]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">calendar_today</span>
                    <span class="sidebar-menu-text">To Do Calendar</span>
                </a>
            </li>
            <!-- Assessment -->
            <li class="sidebar-menu-item" [class.active]="router.url.includes('assessment')" [class.open]="submenuAssessment" (click)="toggleSubMenuAssessment()">
                <a class="sidebar-menu-button" data-toggle="collapse">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                    Assessments
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent" id="ecommerce_menu">
                    <li class="sidebar-menu-item" [class.active]="router.url == urls.assessment.quizes">
                        <a class="sidebar-menu-button" [routerLink]="[urls.assessment.quizes]">
                            <span class="sidebar-menu-text">Quizes</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item" [class.active]="router.url == urls.assessment.assignments">
                        <a class="sidebar-menu-button" [routerLink]="[urls.assessment.assignments]">
                            <span class="sidebar-menu-text">Assignments</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item" [class.active]="router.url == urls.assessment.gdb">
                        <a class="sidebar-menu-button" [routerLink]="[urls.assessment.gdb]">
                            <span class="sidebar-menu-text">GDB</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- File Manager -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.file_manager" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.file_manager]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">folder_open</span>
                    <span class="sidebar-menu-text">File Manager</span>
                </a>
            </li>
            <!-- Grade Book -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.grade_book" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.grade_book]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">assessment</span>
                    <span class="sidebar-menu-text">Grade Book</span>
                </a>
            </li>
            <!-- Messages -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.messages" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.messages]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                    <span class="sidebar-menu-text">Messages</span>
                </a>
            </li>
            <!-- Sticky Notes -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.sticky_notes" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.sticky_notes]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">style</span>
                    <span class="sidebar-menu-text">Sticky Notes</span>
                </a>
            </li>
            <!-- Account Book -->
            <li class="sidebar-menu-item" [class.active]="router.url == urls.account_book" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.account_book]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_balance_wallet</span>
                    <span class="sidebar-menu-text">Account Book</span>
                </a>
            </li>
            <!-- Community -->
            <li class="sidebar-menu-item" [class.active]="submenuCommunity" [class.open]="submenuCommunity" (click)="toggleSubMenuCommunity()">
                <a class="sidebar-menu-button" data-toggle="collapse">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                    Community
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent" id="ecommerce_menu">
                    <li class="sidebar-menu-item" [class.active]="router.url == urls.community_ask">
                        <a class="sidebar-menu-button" [routerLink]="[urls.community_ask]">
                            <span class="sidebar-menu-text">Ask Question</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item" [class.active]="router.url == urls.community">
                        <a class="sidebar-menu-button" [routerLink]="[urls.community]">
                            <span class="sidebar-menu-text">Discussions</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="sidebar-heading">Account</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item" [class.active]="router.url == urls.account" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.account]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                    <span class="sidebar-menu-text">Profile & Privacy</span>
                </a>
            </li>
            <li class="sidebar-menu-item" [class.active]="router.url == urls.account_emails" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.account_emails]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">email</span>
                    <span class="sidebar-menu-text">Email Notifications</span>
                </a>
            </li>
            <li class="sidebar-menu-item" [class.active]="router.url == urls.account_password" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.account_password]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">lock</span>
                    <span class="sidebar-menu-text">Change Password</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-heading">Help Center</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item" [class.active]="router.url == urls.help" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.help]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                    <span class="sidebar-menu-text">FAQs</span>
                </a>
            </li>
            <li class="sidebar-menu-item" [class.active]="router.url == urls.help_contact" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.help_contact]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">phone</span>
                    <span class="sidebar-menu-text">Contact Us</span>
                </a>
            </li>
            <li class="sidebar-menu-item" [class.active]="router.url == urls.help_report" (click)="resetFilters()">
                <a class="sidebar-menu-button" [routerLink]="[urls.help_report]">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">assignment_turned_in</span>
                    <span class="sidebar-menu-text">Report an Issue</span>
                </a>
            </li>
        </ul>
    </div>
</div>