<div class="sidebar sidebar-dark-pickled-bluewood sidebar-left">
    <a href="javascript:void(0)" class="sidebar-brand p-3 mb-3">
        <img src="/assets/images/logo/logo.png" class="img-fluid" alt="logo" />
    </a>
    <div class="navigation">
        <div class="sidebar-heading">Navigation</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item active">
                <a class="sidebar-menu-button" href="javascript:void(0)">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">home</span>
                    <span class="sidebar-menu-text">Home</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" data-toggle="collapse" href="#ecommerce_menu">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">local_library</span>
                    Courses
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent" id="ecommerce_menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="javascript:void(0)">
                            <span class="sidebar-menu-text">Browse Courses</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="javascript:void(0)">
                            <span class="sidebar-menu-text">My Courses</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" data-toggle="collapse" href="#ecommerce_menu">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">dvr</span>
                    Sessions
                    <span class="sidebar-menu-badge badge badge-accent badge-notifications ml-auto">PRO</span>
                    <span class="ml-auto sidebar-menu-toggle-icon"></span>
                </a>
                <ul class="sidebar-submenu collapse sm-indent" id="ecommerce_menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="javascript:void(0)">
                            <span class="sidebar-menu-text">Browse Sessions</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="javascript:void(0)">
                            <span class="sidebar-menu-text">My Sessions</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="javascript:void(0)">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">message</span>
                    <span class="sidebar-menu-text">Messages</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="javascript:void(0)">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">access_time</span>
                    <span class="sidebar-menu-text">Announcements</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="javascript:void(0)">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">import_contacts</span>
                    <span class="sidebar-menu-text">Account Book</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="javascript:void(0)">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">people_outline</span>
                    <span class="sidebar-menu-text">Community</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-heading">Account</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-dashboard.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">account_box</span>
                    <span class="sidebar-menu-text">Profile & Security</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-courses.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">email</span>
                    <span class="sidebar-menu-text">Email Notifications</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-quizzes.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">style</span>
                    <span class="sidebar-menu-text">Payments History</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-heading">Help Center</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-quizzes.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">help</span>
                    <span class="sidebar-menu-text">FAQs</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-quizzes.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">phone</span>
                    <span class="sidebar-menu-text">Contact Us</span>
                </a>
            </li>
            <li class="sidebar-menu-item">
                <a class="sidebar-menu-button" href="instructor-quizzes.html">
                    <span class="material-icons sidebar-menu-icon sidebar-menu-icon--left">assignment_turned_in</span>
                    <span class="sidebar-menu-text">Report an Issue</span>
                </a>
            </li>
        </ul>
    </div>
</div>