<div class="container mt-5">
  <div class="row">
    <button
      type="button"
      class="btn btn-primary btn-create mb-4"
      data-toggle="modal"
      data-target="#createClient"
    >
      Create Client
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-hover table-bordered">
        <thead class="bg-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Website</th>
            <th scope="col">Logo</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let client of clients; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ client.name }}</td>
              <td>{{ client.website }}</td>
              <td>
                <img
                  [src]="ImgBaseURL + client.logoURL"
                  height="28"
                  *ngIf="client.logoURL"
                />
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="buttons">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#editClient"
                      (click)="setClient(client)"
                      ><i class="material-icons fa-lg mr-3">edit</i></a
                    >
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#deleteClient"
                      (click)="setClient(client)"
                      ><i class="material-icons fa-lg mr-3">delete</i></a
                    >
                    <button
                      data-toggle="modal"
                      data-target="#updateLogo"
                      class="btn btn-primary btn-sm"
                      type="button"
                      (click)="setClient(client)"
                    >
                      Update Logo
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal"
  id="createClient"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Create Client</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createClient="ngForm" (ngSubmit)="addClient(createClient)">
          <div class="modal-body text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  ngModel
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label for="web" class="form-label">Website</label>
                <input
                  type="text"
                  class="form-control"
                  id="web"
                  name="web"
                  ngModel
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="editClient"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Client</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body text-primary" *ngIf="selectedClient">
        <form #editClient="ngForm" (ngSubmit)="updateClient(editClient)">
          <div class="row mb-3">
            <div class="col">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="selectedClient.name"
              />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="web" class="form-label">Website</label>
              <input
                type="text"
                class="form-control"
                id="web"
                name="web"
                [(ngModel)]="selectedClient.website"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="updateLogo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Logo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body text-primary">
        <ngx-dropzone
          [multiple]="false"
          [maxFileSize]="1000000"
          accept="image/jpeg,image/jpg,image/png,image/gif"
          (change)="onSelectImage($event)"
        >
          <ngx-dropzone-label>
            Upload / Drop the logo!
            <p *ngIf="logoError" class="alert alert-danger">
              {{ logoError }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="logo"
            [removable]="true"
            (removed)="onRemove(logo)"
          >
            <ngx-dropzone-label>
              {{ logo.name }} ({{ logo.type }})
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="updateLogo()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="deleteClient"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Delete Client</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" *ngIf="selectedClient">
        <div class="row">
          <div class="col-12">
            <h6>Name:</h6>
            <p class="text-primary">{{ selectedClient.name }}</p>
          </div>
          <div class="col-12">
            <h6>Website:</h6>
            <p class="text-primary">{{ selectedClient.website }}</p>
          </div>
          <div class="col-12 mt-3">
            <p class="text-danger h6 bold">
              Do you want to remove this client?
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteClient()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
