<div
  class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
>
  <div class="flex d-flex flex-column flex-sm-row align-items-center">
    <div class="mb-24pt mr-sm-24pt">
      <h2 class="mb-0">Clients</h2>
      <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Clients</li>
      </ol>
    </div>
  </div>
  <div class="row" role="tablist">
    <div class="col-auto">
      <button class="btn btn-outline-primary" *ngIf=" !addClientbool" (click)="addusertoogle()">Add Client</button>
      <button class="btn btn-outline-primary" *ngIf=" addClientbool" (click)="onclose()">Close</button>
    
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-lg-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">List of Clients</h6>
        </div>
        <div class="card-body">
          <ng-container *ngIf="loading">
            <img src="/assets/images/loading.svg" width="20" class="mb-3" />
          </ng-container>
          <table
            class="table table-sm table-hover table-bordered mb-0"
            *ngIf="!loading && clients.length > 0"
            datatable
            [dtOptions]="dtOptions"
          >
            <thead class="bg-light">
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Website</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let client of clients; let i = index">
                <tr>
                  <td class="d-flex align-items-center">
                    <span
                      class="badge badge-primary p-1 mr-2"
                      data-toggle="modal"
                      data-target="#updateLogo"
                      (click)="setClientId(client.id)"
                    >
                      <i class="material-icons mr-0">edit</i>
                    </span>
                    <img
                      [src]="ImgBaseURL + client.logoURL"
                      height="24"
                      *ngIf="client.logoURL"
                    />
                  </td>
                  <td>{{ client.name }}</td>
                  <td>{{ client.website }}</td>
                  <td>
                    <div class="text-center">
                      <div class="buttons">
                        <span
                          class="badge badge-primary p-1 mr-2"
                          (click)="setClient(client); setFormType('update')"
                        >
                          <i class="material-icons mr-0">edit</i>
                        </span>
                        <span
                          class="badge badge-primary p-1 mr-2"
                          (click)="setClient(client); setFormType('delete')"
                        >
                          <i class="material-icons mr-0">delete</i>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12" *ngIf="addClientbool">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0" *ngIf="formType == 'create'">Create New</h6>
          <h6 class="mb-0" *ngIf="formType == 'update'">Update Information</h6>
          <h6 class="mb-0" *ngIf="formType == 'delete'">Delete Information</h6>
        </div>
        <div class="card-body">
          <form #formData="ngForm">
            <div class="form-group">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="client.name"
                [disabled]="formType == 'delete'"
                placeholder="Enter name"
              />
            </div>
            <div class="form-group">
              <label for="web" class="form-label">Website</label>
              <input
                type="url"
                class="form-control"
                id="web"
                name="web"
                [(ngModel)]="client.website"
                [disabled]="formType == 'delete'"
                placeholder="Enter website"
              />
            </div>
            <div class="form-buttons">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="addClient()"
                *ngIf="formType == 'create'"
                [disabled]="!client.name || !client.website"
              >
                Create
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="updateClient()"
                *ngIf="formType == 'update'"
                [disabled]="!client.id || !client.name || !client.website"
              >
                Update
              </button>
              <button
                type="submit"
                class="btn btn-danger"
                (click)="deleteClient()"
                *ngIf="formType == 'delete'"
                [disabled]="!client.id || !client.name || !client.website"
              >
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="updateLogo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update Logo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
      </div>
      <div class="modal-body text-primary">
        <ngx-dropzone
          [multiple]="false"
          [maxFileSize]="1000000"
          accept="image/jpeg,image/jpg,image/png,image/gif"
          (change)="onSelectLogo($event)"
        >
          <ngx-dropzone-label>
            Upload / Drop the logo!
            <p *ngIf="logoError" class="alert alert-danger">
              {{ logoError }}
            </p>
          </ngx-dropzone-label>
          <ngx-dropzone-preview
            *ngIf="logo"
            [removable]="true"
            (removed)="onRemoveLogo(logo)"
          >
            <ngx-dropzone-label>
              {{ logo.name }} ({{ logo.type }})
            </ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="updateLogo()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
