.page-separator:before {
    display: none;
}
.navbar-nav li {
    cursor: pointer;
    color: var(--secondary);
}
.navbar-nav li.active {
    color: var(--gray-dark);
    font-weight: bold;
}
.card-folder .card-body {
    padding: 0.65rem 0.75rem;
}
.btn-upload {
    width: 220px;
    background: #f8f8f8;
    border: 1px solid #dedede;
    padding: 12px 16px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 1rem;
}
.icon-holder {
    width: 44px;
    height: 44px;
}