<div class="container mt-5">
  <div class="row">
    <button
      type="button"
      class="btn btn-primary btn-create mb-5"
      data-toggle="modal"
      data-target="#createUser"
    >
      Create User
    </button>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm table-hover table-bordered">
        <thead class="bg-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Client ID</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let user of users; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.clientId }}</td>
              <td>{{ user.email }}</td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="buttons">
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#editUser"
                      (click)="setUser(user)"
                      ><i class="material-icons fa-lg mr-3">edit</i></a
                    >
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#deleteUser"
                      (click)="setUser(user)"
                      ><i class="material-icons fa-lg">delete</i></a
                    >
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal"
  id="createUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Create User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        ></button>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        <form #createUser="ngForm" (ngSubmit)="addUser(createUser)">
          <div class="modal-body text-primary text-left">
            <div class="row mb-3">
              <div class="col-6">
                <label for="fname" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  name="fname"
                  ngModel
                />
              </div>
              <div class="col-6">
                <label for="lname" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  name="lname"
                  ngModel
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  ngModel
                />
              </div>
              <div class="col-6">
                <label for="pass" class="form-label">Password</label>
                <input
                  type="text"
                  class="form-control"
                  id="pass"
                  name="pass"
                  ngModel
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label" for="managerId">Manager</label>
                <select
                  class="form-select form-control"
                  id="managerId"
                  name="managerId"
                  ngModel
                >
                  <ng-container *ngFor="let user of users">
                    <option [value]="user.id">
                      {{ user.firstName + " " + user.lastName }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-6">
                <label class="form-label" for="deptId">Department</label>
                <select
                  class="form-select form-control"
                  id="deptId"
                  name="deptId"
                  ngModel
                >
                  <ng-container *ngFor="let department of departments">
                    <option [value]="department.id">
                      {{ department.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label" for="desigId">Designation</label>
                <select
                  class="form-select form-control"
                  id="desigId"
                  name="desigId"
                  ngModel
                >
                  <ng-container *ngFor="let designation of designations">
                    <option [value]="designation.id">
                      {{ designation.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-6">
                <label class="form-label" for="role">Role</label>
                <select
                  class="form-select form-control"
                  id="role"
                  name="roleId"
                  ngModel
                >
                  <ng-container *ngFor="let role of roles">
                    <option [value]="role.id">
                      {{ role.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <label class="form-label" for="clientId">Client</label>
                <select
                  class="form-select form-control"
                  id="clientId"
                  name="clientId"
                  ngModel
                >
                  <ng-container *ngFor="let client of clients">
                    <option [value]="client.id">
                      {{ client.name }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="deleteUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Delete User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left" *ngIf="selectedUser">
        <div class="row">
          <div class="col-12">
            <h6>First Name:</h6>
            <p class="text-primary">{{ selectedUser.firstName }}</p>
          </div>
          <div class="col-12">
            <h6>Last Name:</h6>
            <p class="text-primary">{{ selectedUser.lastName }}</p>
          </div>
          <div class="col-12">
            <h6>Email:</h6>
            <p class="text-primary">{{ selectedUser.email }}</p>
          </div>
          <div class="col-12">
            <h6>Role:</h6>
            <p class="text-primary">{{ selectedUser.role.title }}</p>
          </div>
          <div class="col-12">
            <h6>Client ID:</h6>
            <p class="text-primary">{{ selectedUser.clientId }}</p>
          </div>
          <div class="col-12 mt-3">
            <p class="text-danger h6 bold">Do you want to remove this user?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="editUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Update User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedUser">
        <form #editUser="ngForm" (ngSubmit)="updateUser(editUser)">
          <div class="modal-body text-primary text-left">
            <div class="row mb-3">
              <div class="col-6">
                <label for="fname" class="form-label">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  name="fname"
                  [(ngModel)]="selectedUser.firstName"
                />
              </div>
              <div class="col-6">
                <label for="lname" class="form-label">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  name="lname"
                  [(ngModel)]="selectedUser.lastName"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  [(ngModel)]="selectedUser.email"
                />
              </div>
              <div class="col-6">
                <label class="form-label" for="managerId">Manager</label>
                <select
                  class="form-select form-control"
                  id="managerId"
                  name="managerId"
                  [(ngModel)]="selectedUser.managerId"
                >
                  <ng-container *ngFor="let user of users">
                    <option [value]="user.id">
                      {{ user.firstName + " " + user.lastName }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label class="form-label" for="deptId">Department</label>
                <select
                  class="form-select form-control"
                  id="deptId"
                  name="deptId"
                  [(ngModel)]="selectedUser.userDepartmentId"
                >
                  <ng-container *ngFor="let department of departments">
                    <option [value]="department.id">
                      {{ department.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
              <div class="col-6">
                <label class="form-label" for="desigId">Designation</label>
                <select
                  class="form-select form-control"
                  id="desigId"
                  name="desigId"
                  [(ngModel)]="selectedUser.userDesignationId"
                >
                  <ng-container *ngFor="let designation of designations">
                    <option [value]="designation.id">
                      {{ designation.title }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-dismiss="modal"
              class="btn btn-secondary"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
