<div
  class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
>
  <div class="flex d-flex flex-column flex-sm-row align-items-center">
    <div class="my-24pt mr-sm-24pt">
      <h2 class="mb-0">Teams</h2>
      <ol class="breadcrumb p-0 m-0">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Teams</li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0" *ngIf="teamsFormType == 'create'">Create New</h6>
          <h6 class="mb-0" *ngIf="teamsFormType == 'update'">
            Update Information
          </h6>
          <h6 class="mb-0" *ngIf="teamsFormType == 'delete'">
            Delete Information
          </h6>
        </div>
        <div class="card-body">
          <form #formData="ngForm">
            <div class="form-group">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                [(ngModel)]="team.title"
                [disabled]="teamsFormType == 'delete'"
              />
            </div>
            <div class="form-buttons">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="addTeam()"
                *ngIf="teamsFormType == 'create'"
                [disabled]="!team.title"
              >
                Create
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="updateTeam()"
                *ngIf="teamsFormType == 'update'"
                [disabled]="!team.id || !team.title"
              >
                Update
              </button>
              <button
                type="submit"
                class="btn btn-danger"
                (click)="deleteTeam()"
                *ngIf="teamsFormType == 'delete'"
                [disabled]="!team.id || !team.title"
              >
                Delete
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6 class="mb-0">List of Teams</h6>
        </div>
        <div class="card-body">
          <table class="table table-sm table-hover table-bordered mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Users</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let team of teams; let i = index">
                <tr>
                  <td>{{ team.title }}</td>
                  <td>
                    <div
                      class="badge badge-primary mr-1"
                      data-toggle="modal"
                      data-target="#classModal"
                      (click)="setTeam(team); setUserFormType('create')"
                    >
                      Add <span class="material-icons ml-1">add</span>
                    </div>
                    <ng-container *ngFor="let user of team.teamUsers">
                      <div class="badge badge-light mr-1">
                        {{ user.user.firstName + user.user.lastName }}
                        <span
                          class="material-icons"
                          data-toggle="modal"
                          data-target="#classModal"
                          (click)="setUser(user); setUserFormType('delete')"
                          >delete</span
                        >
                      </div>
                    </ng-container>
                  </td>
                  <td class="text-center">
                    <div class="buttons">
                      <span
                        class="badge badge-primary p-1 mr-2"
                        (click)="setTeam(team); setTeamFormType('update')"
                      >
                        <i class="material-icons mr-0">edit</i>
                      </span>
                      <span
                        class="badge badge-primary p-1 mr-2"
                        (click)="setTeam(team); setTeamFormType('delete')"
                      >
                        <i class="material-icons mr-0">delete</i>
                      </span>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  id="classModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="viewModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="classModalLabel">
          <ng-container *ngIf="userFormType == 'create'">Add User</ng-container>
          <ng-container *ngIf="userFormType == 'delete'"
            >Delete User</ng-container
          >
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createUser="ngForm" (ngSubmit)="addUser()">
          <div class="text-primary text-left">
            <div class="row mb-3">
              <div class="col">
                <label for="userId" class="form-label">Name</label>
                <select
                  class="form-select form-control"
                  id="userId"
                  name="userId"
                  [(ngModel)]="user.id"
                  *ngIf="userFormType == 'create'"
                >
                  <ng-container *ngFor="let user of users">
                    <option [value]="user.id">
                      {{ user.firstName + " " + user.lastName }}
                    </option>
                  </ng-container>
                </select>
                <p *ngIf="userFormType == 'delete'">{{ user.name }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="addUser()"
              *ngIf="userFormType == 'create'"
              [disabled]="!user.id"
              data-dismiss="modal"
              aria-label="Close"
            >
              Add
            </button>
            <button
              type="submit"
              class="btn btn-danger"
              (click)="deleteUser()"
              *ngIf="userFormType == 'delete'"
              [disabled]="!user.id"
              data-dismiss="modal"
              aria-label="Close"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
