<div>
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Terms & Conditions</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">
                        Aggrement
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container page__container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <strong>Welcome to Senastic AI's Learning Management System (LMS)</strong>
            <p>These terms and conditions outline the rules and regulations for the use of Senastic AI's LMS,
              located at <a href="https://lms.oxibit.com" style="color: rgb(33, 33, 227);">lms.oxibit.com</a>. By accessing
              this LMS, we assume you accept these terms and conditions. Do not continue to use Senastic AI's LMS if you do
              not agree to take all of the terms and conditions stated on this page.</p>
            <p>The following terminology applies to these Terms and Conditions, Privacy Statement, and Disclaimer Notice and
              all Agreements: "User", "You", and "You're" refer to you, the person accessing this website and compliant to
              Senastic AI's terms and conditions. "Senastic AI", "Ourselves", "We", "Our", and "Us" refer to our Company.
              "Parties" refer to both the User and ourselves. All terms refer to the offer, acceptance, and consideration of payment
              necessary to undertake the process of our assistance to the User in the most appropriate manner for the express purpose
              of meeting the User’s needs in respect to the provision of the Company’s stated services, in accordance with and subject
              to, prevailing law. Any use of the above terminology or other words in the singular, plural, capitalization, and/or
              he/she or they, are taken as interchangeable and therefore as referring to the same.</p>

            <strong>Cookies</strong>
            <p>We employ the use of cookies. By accessing Senastic AI's LMS, you agree to use cookies in agreement with
              Senastic AI's Privacy Policy.</p>
            <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our
              LMS to enable the functionality of certain areas to make it easier for people visiting our LMS. Some of our
              affiliate/advertising partners may also use cookies.</p>

            <strong>License</strong>
            <p>Unless otherwise stated, Senastic AI and/or its licensors own the intellectual property rights for all material
              on Senastic AI's LMS. All intellectual property rights are reserved. You may access this from Senastic AI's LMS for
              your own personal use, subject to restrictions set in these terms and conditions.</p>

            <p>You must not:</p>
            <ul>
                <li>Republish material from Senastic AI's LMS</li>
                <li>Sell, rent, or sub-license material from Senastic AI's LMS</li>
                <li>Reproduce, duplicate, or copy material from Senastic AI's LMS</li>
                <li>Redistribute content from Senastic AI's LMS</li>
            </ul>

            <p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the Terms
              And Conditions Template.</p>
            <p>Parts of Senastic AI's LMS offer an opportunity for users to post and exchange opinions and information in certain
              areas of the LMS. Senastic AI does not filter, edit, publish, or review Comments prior to their presence on the LMS.
              Comments do not reflect the views and opinions of Senastic AI, its agents, and/or affiliates. Comments reflect the views
              and opinions of the person who posts their views and opinions. To the extent permitted by applicable laws, Senastic AI
              shall not be liable for the Comments or for any liability, damages, or expenses caused and/or suffered as a result of
              any use of and/or posting of and/or appearance of the Comments on this LMS.</p>
            <p>Senastic AI reserves the right to monitor all Comments and to remove any Comments which can be considered
              inappropriate, offensive, or causes a breach of these Terms and Conditions.</p>

            <p>You warrant and represent that:</p>
            <ul>
                <li>You are entitled to post the Comments on our LMS and have all necessary licenses and consents
                  to do so.</li>
                <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent,
                  or trademark of any third party.</li>
                <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful
                  activity.</li>
                <li>You hereby grant Senastic AI a non-exclusive license to use, reproduce, edit, and authorize others to use, reproduce,
                  and edit any of your Comments in any and all forms, formats, or media.</li>
            </ul>
        </div>
    </div>
</div>
