<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Sticky Notes</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">
                        Notes
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container page__container">
    <div class="page-section">
        <div class="row">
            <div class="col-lg-12">
                <ngx-masonry [options]="{ gutter: 22 }">
                    <div ngxMasonryItem class="masonry-item" *ngFor="let item of notes">
                        <div class="card" *ngIf="!item.title && !item.description">
                            <div class="card-header">
                                <h3 class="card-title">Add New</h3>
                            </div>
                            <div class="card-body p-1 pt-3">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Color</label>
                                        <div class="colors">
                                            <ul>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="color" value="black">
                                                        <span class="swatch" style="background-color:#9ADCFF"></span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="color" value="blue">
                                                        <span class="swatch" style="background-color:#FFF89A"></span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="color" value="green">
                                                        <span class="swatch" style="background-color:#6EBF8B"></span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="color" value="blue">
                                                        <span class="swatch" style="background-color:#FF8AAE"></span>
                                                    </label>
                                                </li>
                                                <li>
                                                    <label>
                                                        <input type="radio" name="color" value="green">
                                                        <span class="swatch" style="background-color:#FFB2A6"></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn btn-primary">Save</div>
                                        <div class="btn btn-default">Reset</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" *ngIf="item.title && item.description">
                            <div class="card-header d-flex justify-content-between" [ngStyle]="{'background-color': item.color}">
                                <h3 class="card-title">{{ item.title }}</h3>
                                <div class="action-items">
                                    <i class="fa-icon fa fa-edit pr-2"></i>
                                    <i class="fa-icon fa fa-trash"></i>
                                </div>
                            </div>
                            <div class="card-body">
                                <span>{{ item.description }}</span>
                            </div>
                        </div>
                    </div>
                </ngx-masonry>
            </div>
        </div>
    </div>
</div>