<div class="">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Update Course</h2>
        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Courses</a>
          </li>
          <li class="breadcrumb-item active">Update Course</li>
        </ol>
      </div>
    </div>
    <div class="row" role="tablist">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary" (click)="updateCourse()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container page__container">
  <div class="page-section">
    <div class="row" *ngIf="courseDetails">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                [(ngModel)]="courseDetails.title"
              />
            </div>
            <div class="form-group mb-2">
              <label>About</label>
              <div class="editor">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="courseDetails.about">
                </ngx-editor>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="form-group mb-2">
              <label>Status</label>
              <div class="form-control">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="statusDraft"
                    value="D"
                    [(ngModel)]="courseDetails.status"
                  />
                  <label class="form-check-label" for="statusDraft"
                    >Draft</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="status"
                    id="statusPublish"
                    value="P"
                    [(ngModel)]="courseDetails.status"
                  />
                  <label class="form-check-label" for="statusPublish"
                    >Publish</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group mb-2">
              <label>Department</label>
              <select
                class="form-control"
                name="courseDepartmentId"
                [(ngModel)]="courseDetails.courseDepartmentId"
              >
                <option>...</option>
                <ng-container *ngFor="let department of courseDepartments">
                  <option [value]="department.id">
                    {{ department.title }}
                  </option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>Course Code</label>
              <input
                type="text"
                class="form-control"
                name="code"
                [(ngModel)]="courseDetails.code"
              />
            </div>
            <div class="form-group">
              <label>Level of Difficulty</label>
              <input
                type="text"
                class="form-control"
                name="level"
                [(ngModel)]="courseDetails.level"
              />
            </div>
            <div class="form-group mb-2">
              <label>Language</label>
              <input
                type="text"
                class="form-control"
                name="language"
                [(ngModel)]="courseDetails.language"
              />
            </div>
            <div class="form-group mb-2">
              <label>Approximate Time</label>
              <input
                type="text"
                class="form-control"
                name="approximateTime"
                [(ngModel)]="courseDetails.approximateTime"
              />
            </div>
            <div class="form-group mb-2">
              <label>Passing Threshold</label>
              <input
                type="text"
                class="form-control"
                name="passingThreshold"
                [(ngModel)]="courseDetails.passingThreshold"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
