<div class="">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Notifications</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">
                        Notifications
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container page__container">
    <div class="page-section">
        <div class="row mb-lg-8pt">
            <div class="col-md-12">
                <div class="card card-sm stack stack--1 card-group-row__card"
                    *ngFor="let notification of notifications">
                    <div class="card-body flex align-items-center">
                        <p class="mb-4pt"><strong>{{ notification.title }}</strong></p>
                        <p class="mb-12">{{ notification.content }}</p>
                        <p class="lh-1 mt-4pt mb-0 text-70 d-flex">
                            <span class="d-flex align-items-center mr-4"><span
                                    class="material-icons font-size-16pt mr-1">book</span>{{ notification.course
                                }}</span>
                            <span class="d-flex align-items-center mr-4"><span
                                    class="material-icons font-size-16pt mr-1">person</span>{{ notification.instructor
                                }}</span>
                            <span class="d-flex align-items-center mr-4"><span
                                    class="material-icons font-size-16pt mr-1">watch</span>{{
                                notification.createdAt.time }}</span>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Page 1"><span>1</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Page 2"><span>2</span></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true" class="material-icons">chevron_right</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>