<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        <div class="flex d-flex flex-column flex-sm-row align-items-center">
            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Email Notifications</h2>
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="">Account</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Notifications Info
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-section container page__container">
    <div class="page-separator">
        <div class="page-separator__text">Updates from Vitual Education</div>
    </div>
    <div class="col-lg-8 px-0 py-3">
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Newsletter</label>
                <small class="form-text text-muted">Get the latest updates or blogs.</small>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Discounts or Subscription Rewards</label>
                <small class="form-text text-muted">Send me an email when there is any discount or rewards you offers
                    new courses
                    released.</small>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Enrolled Courses</label>
                <small class="form-text text-muted">Be the first to know when you have lecture, quiz or assignment is
                    due and if there is any update on course.
                    updates.</small>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked id="customCheck5">
                <label class="custom-control-label" for="customCheck5">Course Sessions</label>
                <small class="form-text text-muted">Get update on enrolled sessions to keep you on track.</small>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked id="customCheck4">
                <label class="custom-control-label" for="customCheck4">Messages or Courses Announements</label>
                <small class="form-text text-muted">Get messages, encouragement and helpful information from your
                    teachers.</small>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>