/* You can add global styles to this file, and also import other style files */

@media (min-width: 992px) {
  .mdk-drawer-layout .container {
    max-width: 1142px;
  }
}

.book-details {
  margin-left: 15px;
}

.popover {
  width: 312px !important;
  max-width: 312px !important;
}
.popover-body {
  padding: 1.25rem !important;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-20 {
  font-size: 20px;
}

.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.h-42px {
  height: 42px;
}
.h-28px {
  height: 28px;
}
.h-32px {
  height: 32px;
}

.form-label {
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}

.modal {
  background: #00000075;
}
.badge {
  font-size: 11px;
}

.badge .material-icons {
  cursor: pointer;
}

.table tbody td {
  vertical-align: baseline;
}

.w-10 {
  width: 10%;
}

.editor {
  border: 1px solid #edf0f2;
  border-radius: 4px;

  .NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #edf0f2;
    box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
  }

  .NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    box-shadow: inset 0 1px 1px rgba(39, 44, 51, 0.075);
    height: 342px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}

.editor-description {
  .NgxEditor {
    height: 152px;
    max-height: 160px;
  }
}

.heading-icon {
  cursor: pointer;
  margin: 0 8px;
  .material-icons {
    font-size: 18px;
  }
}

.card-subtitle-2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: unset;
}

.page-separator:before {
  display: none;
}
.accordion__item .accordion__toggle {
  background: #f3f3f3 !important;
}
.accordion__item .accordion__toggle.collapsed {
  border-radius: 6px 6px 0 0;
}

.app-content .page-section {
  /* min-height: calc(100vh - 312px); */
}

@media (min-width: 992px) {
  .mdk-drawer-layout .container {
    max-width: 1260px;
  }
}

.fs-14pt {
  font-size: 14px;
}

.fw-400 {
  font-weight: 400;
}

.py-52pt {
  padding-top: 52px;
  padding-bottom: 52px;
}

.card-course img {
  border-radius: 8px 8px 0 0;
}
.card-course .overlay__content {
  background: rgba(48, 57, 85, 0.71);
  height: 140px;
  border-radius: 8px 8px 0 0;
}

#youtube-player iframe {
  width: 100%;
}

.icon-holder--success {
  background-color: rgb(31, 131, 84) !important;
  border: rgb(31, 131, 84) !important;
}
.icon-holder--success:hover {
  background-color: rgb(31, 131, 84) !important;
  border: rgb(31, 131, 84) !important;
}

.icon-12pt {
  font-size: 0.65rem !important;
}
.icon-14pt {
  font-size: 0.75rem !important;
}

.icon-holder {
  border: 1px solid rgba(39, 44, 51, 0.7) !important;
  margin-right: 12px !important;
}

.icon-holder--mini {
  width: 18px;
  height: 18px;
}

/* .accordion__menu-link a {
  color: rgb(51, 51, 51) !important;
} */
.accordion__menu-link {
  padding: 0.65rem 1.5rem !important;
}
.accordion__menu-link a {
  font-weight: normal;
}
.accordion__menu-link a.disabled {
  cursor: not-allowed;
}
.accordion__menu-link {
  align-items: start;
}

.icon-holder--outline-success {
  color: #1f8354;
}
.icon-holder--outline-success:hover {
  background: #1f8354 !important;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 0.5px solid #e9edf2;
}

.accordion__menu-link.active.current {
  border-right: 4px solid #1f8354;
  background: rgb(31 131 84 / 30%);
}

.modal {
  background: rgba(0, 0, 0, 0.63);
}
.modal-header,
.modal-body {
  padding: 1.5rem;
}
.modal-dialog {
  display: inline-block;
  margin: 0 !important;
  position: absolute;
  right: 0;
  width: 100%;
}
.modal-content {
  border: unset !important;
  border-radius: unset !important;
  height: 100vh;
}

.loading-icon {
  margin: 12%;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 530px;
  }
}

.card-brt-0 {
  border-radius: 0 0 0.5rem 0.5rem !important;
}

.color-light {
  color: #fff;
}
.task-attribute {
  display: flex;
  align-items: center;
}

.app-content {
  padding: 32px;
  margin-left: 220px;
  width: calc(100% - 220px);
}

.progress {
  border-radius: 0 0.5rem 0.5rem;
}

.mdk-box__bg-front {
  background-image: url(/assets/images/photodune-4161018-group-of-students-m.jpg);
}

.mdk-box__bg {
  visibility: unset;
}

.page-component {
  margin-bottom: 32px;
}
.component-title {
  text-transform: capitalize;
}
.course {
  border-radius: 12px;
}
.course-body {
  padding: 24px;
}
.course-title {
  font-weight: 500;
  height: 40px;
  line-height: normal;
  margin-bottom: 0;
  text-transform: capitalize;
}
.course-attributes {
  color: #666;
  font-weight: normal;
  margin-bottom: 8px;
}
.course-stats {
  margin-top: 40px;
}
.course-stats-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.course-stats-info .course-tasks-count {
  font-size: 12px;
  color: #fff;
}
.course-stats-info .course-tasks-nav-icon i {
  color: #fff;
  font-size: 16px;
}
.course-stats .course-progress {
  height: 8px;
}
.course-stats .course-progress .progress-bar {
  background-color: #3b5be9;
}

.tasks-list-widget .card-body {
  padding: 0;
}
.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 16px;
}
.task-row:hover {
  background: #f9f9f9;
  cursor: pointer;
}
.task-row:hover .task-icon-play {
  color: #3b5be9;
}
.task-row:hover .task-info .task-title {
  color: #3b5be9;
}
.task-row:last-child {
  border: 0;
}
.task-row .task-icon-play {
  color: #292d30;
}
.task-row .task-info {
  width: 100%;
}
.task-row .task-info .task-title {
  font-weight: 500;
  margin-bottom: 8px;
}
.task-row .task-info .task-attributes {
  display: flex;
  align-items: center;
}
.task-row .task-info .task-attributes .attrib {
  color: #555;
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-right: 16px;
}
.task-row .task-info .task-attributes .attrib i {
  font-size: 14px;
  padding-right: 4px;
}

.stat-widget {
  display: flex;
  align-items: center;
  margin: 11.75px 0;
}
.stat-widget .stat-icon {
  background: #f8f8f8;
  border-radius: 6px;
  margin-right: 20px;
  padding: 12px;
}
.stat-widget .stat-icon i {
  color: #444;
  font-size: 24px;
}
.stat-widget .stat-title {
  color: #666;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: capitalize;
}
.stat-widget .stat-value {
  color: #444;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
}

.card.course {
  background-image: url(/assets/images/bg-course.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.card-body.course-body {
  background: rgb(48 57 85 / 70%);
  border-radius: 12px;
  padding: 1.5rem;
}
.course-attributes {
  color: #aaa;
  font-weight: 400;
  margin-bottom: 6px !important;
}
h5.course-title {
  line-height: inherit;
}
.course-title a {
  color: #fff !important;
}
