/* You can add global styles to this file, and also import other style files */

@media (min-width: 992px){
    .mdk-drawer-layout .container {
        max-width: 1142px;
    }
}

.popover {
    width: 312px !important;
    max-width: 312px !important;
}
.popover-body {
    padding: 1.25rem !important;
}