<div class="footer bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-24pt">
            <img class="brand-icon mr-2" src="/assets/images/logo/black-70@2x.png" width="30">
            Learning Management System
        </p>
        <p class="measure-lead-max text-50 small mr-8pt">A solution to all your virtual learning needs! With our
            custom made learning management system we ensure that every learner or individual learning
            needs are recognized, appreciated and answered!
        </p>
        <p class="mb-4 d-flex">
            <a [routerLink]="['terms-and-conditions']" class="text-70 text-underline mr-8pt small">Terms</a>
            <a [routerLink]="['privacy-policies']" class="text-70 text-underline small">Privacy Policies</a>
        </p>
        <p class="text-50 small mt-n1 mb-0">Copyright 2023 &copy; All rights reserved.</p>
    </div>
</div>